includes:
  - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
  parallel:
      maximumNumberOfProcesses: 5

  level: 3

  bootstrapFiles:
    - .Build/vendor/autoload.php

  paths:
    - Classes
    - Configuration
    - Tests

  scanDirectories:
    - Classes
    - Configuration
    - Tests

  excludePaths:
    - Tests/Acceptance/*
    - Classes/Updates/PluginListToCTypeUpdateWizard.php
