<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">

    <div style="display: none;" id="cf-cookiemanager-1682010733" data-page="{page}" data-url="{generatedTrackingUrl}"></div>

    <f:if condition="{frontendSettings} && {extensionConfiguration.disablePlugin} !== '1'">
        <f:if condition="{frontendSettings.custombutton}">
            <f:then>
                <f:format.raw>{frontendSettings.customButtonHtml}</f:format.raw>
            </f:then>
            <f:else>
                <div class="cf-cookie-openconsent">
                    <a type="button" data-cc="c-settings" href="#" title="cookie consent" aria-haspopup="dialog">
                        <f:image title="Cookie Settings" alt="Cookie Extension Logo" width="30" src="EXT:cf_cookiemanager/Resources/Public/Icons/Extension.svg"/>
                    </a>
                </div>
            </f:else>
        </f:if>
    </f:if>


</f:section>
</html>