<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">

    <f:variable name="llp" value="LLL:EXT:cf_cookiemanager/Resources/Private/Language/locallang_module.xlf:" />

    <div class="loadingcontainer">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
        <hr>
        <div class="text"><f:translate key="{llp}index.loading" /></div>
    </div>

    <div class="module-body t3js-module-body cf_manager" style="display: none;">
        <f:if condition="{noselection}">
            <div class="alert alert-info">
                <div class="media">
                    <div class="media-left"><span class="fa-stack fa-lg">        <i
                            class="fa fa-circle fa-stack-2x"></i>        <i
                            class="fa fa-info fa-stack-1x"></i>      </span>
                    </div>
                    <div class="media-body"><p class="alert-message"><strong><f:translate key="{llp}index.noSelection" /></strong><br>
                    </p>
                    </div>
                </div>
            </div>
        </f:if>
        <f:if condition="{firstInstall}">
            <f:then>
                <h2><f:translate key="{llp}index.welcome.heading" /></h2>
                <hr>
                <f:flashMessages></f:flashMessages>
                <div class="cf-cookiemanager-alert">


                    <f:if condition="!{typoScriptConfig.end_point}">
                        <f:then>
                            <f:format.raw><f:translate key="{llp}index.welcome.noConfig" arguments="{0: storageUID}" /></f:format.raw>
                        </f:then>
                        <f:else>
                            <input type="hidden" id="endPointUrl" value="{typoScriptConfig.end_point}">
                            <input type="hidden" id="currentStorage" value="{storageUID}">
                            <div id="cf-standardDatasetInstall">


                                <div id="cf-welcome-screen">
                                    <h3><strong><f:translate key="{llp}index.onboarding.welcome.heading" /></strong></h3>
                                    <p>
                                        <f:translate key="{llp}index.onboarding.welcome.intro" />
                                    </p>
                                    <p>
                                        <f:format.raw><f:translate key="{llp}index.onboarding.welcome.moreInfo" /></f:format.raw>
                                    </p>

                                    <div id="loading-spinner" style="display:none;">
                                        <f:translate key="{llp}shared.loading" />
                                        <typo3-backend-spinner size="small"></typo3-backend-spinner>
                                    </div>
                                    <button class="btn btn-success startConfiguration"
                                            data-cf-endpoint="{typoScriptConfig.end_point}" data-cf-storage="{storageUID}"><f:translate key="{llp}index.onboarding.startConfiguration" /> <span class="badge"><f:translate key="{llp}index.onboarding.recommended" /></span>
                                    </button>

                                    <a class="btn btn-secondary openConfigurationOffline" data-cf-storage="{storageUID}"><f:translate key="{llp}index.onboarding.offlineConfiguration" /> <span class="badge"><f:translate key="{llp}index.onboarding.offlineNote" /></span></a>


                                </div>


                                <div class="cf-onboarding-container" id="cf-onboarding-container" style="display:none;">


                                    <div class="cf-onboarding-progress">
                                        <div class="cf-step active" data-step="1"><f:translate key="{llp}index.onboarding.step1.nav" />

                                            <div class="cf-step-icon-success">
                                                <core:icon identifier="actions-check-circle-alt" size="small" />
                                            </div>
                                            <div class="cf-step-icon-notsuccess">
                                                <core:icon identifier="actions-check-circle" size="small" />
                                            </div>

                                        </div>
                                        <div class="cf-step" data-step="2"><f:translate key="{llp}index.onboarding.step2.nav" />
                                            <div class="cf-step-icon-success">
                                                <core:icon identifier="actions-check-circle-alt" size="small" />
                                            </div>
                                            <div class="cf-step-icon-notsuccess">
                                                <core:icon identifier="actions-check-circle" size="small" />
                                            </div>

                                        </div>
                                        <div class="cf-step" data-step="3"><f:translate key="{llp}index.onboarding.step3.nav" /></div>
                                    </div>

                                    <div class="cf-onboarding-content">
                                        <!-- Schritt 1: Basis-Einrichtung -->
                                        <div class="cf-step-content active" data-step="1">

                                            <div class="cf-step-header">
                                                <h2 class="fw-bold"><f:translate key="{llp}index.onboarding.step1.heading" /></h2>
                                            </div>

                                            <div class="form-group">
                                                <p>
                                                    <f:format.raw><f:translate key="{llp}index.onboarding.step1.intro" /></f:format.raw>
                                                </p>


                                                <ul>
                                                    <li><f:translate key="{llp}index.onboarding.step1.collectWhat" /></li>
                                                    <li><f:format.raw><f:translate key="{llp}index.onboarding.step1.collectHow" /></f:format.raw></li>
                                                    <li><f:translate key="{llp}index.onboarding.step1.collectWhy" /></li>
                                                    <li><f:translate key="{llp}index.onboarding.step1.collectPrivacy" /></li>
                                                </ul>

                                                <p class="fw-bold"><f:translate key="{llp}index.onboarding.step1.question" /></p>
                                                <div class="cf-consent-options">
                                                    <div class="cf-consent-option">
                                                        <input type="radio" id="consentOptIn" name="consentType" value="opt-in">
                                                        <label for="consentOptIn">
                                                            <span><f:translate key="{llp}index.onboarding.step1.optIn" /></span>
                                                        </label>
                                                    </div>
                                                    <div class="cf-consent-option">
                                                        <input type="radio" id="consentOptOut" name="consentType"
                                                               value="opt-out">
                                                        <label for="consentOptOut">
                                                            <span><f:translate key="{llp}index.onboarding.step1.optOut" /></span>
                                                        </label>
                                                    </div>
                                                </div>

                                            <p><f:format.raw><f:translate key="{llp}index.onboarding.step1.terms" /></f:format.raw></p>


                                            </div>

                                        </div>

                                        <!-- Schritt 2: API Key -->
                                        <div class="cf-step-content" data-step="2">
                                            <div class="cf-step-header">
                                                <h2 class="fw-bold"><f:translate key="{llp}index.onboarding.step2.heading" /> <span class="fw-normal small"><f:translate key="{llp}shared.optional" /></span></h2>

                                                <div class="cf-step-header-alert">
                                                    <core:icon identifier="actions-info-circle" size="small" /> <f:translate key="{llp}index.onboarding.step2.skipNote" />
                                                </div>

                                            </div>
                                            <p>
                                                <f:format.raw><f:translate key="{llp}index.onboarding.step2.intro" /></f:format.raw>
                                            </p>

                                            <div class="cf-feature-table-flex">
                                                <!-- Header -->
                                                <div class="cf-feature-row cf-feature-header">
                                                    <div class="cf-feature-cell cf-feature-name"><f:translate key="{llp}index.onboarding.feature.header.feature" /></div>
                                                    <div class="cf-feature-cell cf-feature-api text-center"><f:translate key="{llp}index.onboarding.feature.header.withApi" /></div>
                                                    <div class="cf-feature-cell cf-feature-no-api text-center"><f:translate key="{llp}index.onboarding.feature.header.noApi" /></div>
                                                </div>

                                                <!-- Cookie-Database Presets -->
                                                <div class="cf-feature-row">
                                                    <div class="cf-feature-cell cf-feature-name">
                                                        <p class="fw-bold m-0"><f:translate key="{llp}index.onboarding.feature.presets.name" /></p>
                                                        <span class="feature-description"><f:translate key="{llp}index.onboarding.feature.presets.desc" /></span>
                                                    </div>
                                                    <div class="cf-feature-cell cf-feature-api text-center">
                                                        <core:icon identifier="actions-check-badge-alt" size="small"/>
                                                    </div>
                                                    <div class="cf-feature-cell cf-feature-no-api text-center">
                                                        <core:icon identifier="actions-check-badge-alt" size="small"/>
                                                    </div>
                                                </div>

                                                <!-- Cookie-Database Updates -->
                                                <div class="cf-feature-row">
                                                    <div class="cf-feature-cell cf-feature-name">
                                                        <p class="fw-bold m-0"><f:translate key="{llp}index.onboarding.feature.updates.name" /></p>
                                                        <span class="feature-description"><f:translate key="{llp}index.onboarding.feature.updates.desc" /></span>
                                                    </div>
                                                    <div class="cf-feature-cell cf-feature-api text-center">
                                                        <core:icon identifier="actions-check-badge-alt" size="small"/>
                                                    </div>
                                                    <div class="cf-feature-cell cf-feature-no-api text-center">
                                                        <core:icon identifier="actions-check-badge-alt" size="small"/>
                                                    </div>
                                                </div>

                                                <!-- Cookie-Scanner Integration -->
                                                <div class="cf-feature-row">
                                                    <div class="cf-feature-cell cf-feature-name">
                                                        <p class="fw-bold m-0"><f:translate key="{llp}index.onboarding.feature.scanner.name" /></p>
                                                        <span class="feature-description"><f:translate key="{llp}index.onboarding.feature.scanner.desc" /></span>
                                                    </div>
                                                    <div class="cf-feature-cell cf-feature-api text-center">
                                                        <core:icon identifier="actions-check-badge-alt" size="small"/>
                                                    </div>
                                                    <div class="cf-feature-cell cf-feature-no-api text-center">
                                                        <f:format.raw><f:translate key="{llp}index.onboarding.feature.scanner.noApi" /></f:format.raw>
                                                    </div>
                                                </div>

                                                <!-- Shared Local Config -->
                                                <div class="cf-feature-row">
                                                    <div class="cf-feature-cell cf-feature-name">
                                                        <p class="fw-bold m-0"><f:translate key="{llp}index.onboarding.feature.sharedConfig.name" /></p>
                                                        <span class="feature-description"><f:translate key="{llp}index.onboarding.feature.sharedConfig.desc" /></span>
                                                    </div>
                                                    <div class="cf-feature-cell cf-feature-api text-center">
                                                        <core:icon identifier="actions-check-badge-alt" size="small"/>
                                                    </div>
                                                    <div class="cf-feature-cell cf-feature-no-api text-center">
                                                        <core:icon identifier="actions-close" size="small"/>
                                                    </div>
                                                </div>

                                                <!-- Thumbnail API -->
                                                <div class="cf-feature-row">
                                                    <div class="cf-feature-cell cf-feature-name">
                                                        <p class="fw-bold m-0"><f:translate key="{llp}index.onboarding.feature.thumbnail.name" /></p>
                                                        <span class="feature-description"><f:translate key="{llp}index.onboarding.feature.thumbnail.desc" /></span>
                                                    </div>
                                                    <div class="cf-feature-cell cf-feature-api text-center">
                                                        <core:icon identifier="actions-check-badge-alt" size="small"/>
                                                    </div>
                                                    <div class="cf-feature-cell cf-feature-no-api text-center">
                                                        <f:translate key="{llp}index.onboarding.feature.thumbnail.noApi" />
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="form-group">
                                                <label class="fw-bold" for="apiKey"><f:translate key="{llp}index.onboarding.apiKey.label" /> <span class="fw-normal"><f:translate key="{llp}shared.optional" /></span></label>
                                                <input type="text" id="apiKey" class="form-control" placeholder="{f:translate(key: '{llp}index.onboarding.apiKey.label')}">
                                            </div>

                                            <div class="form-group">
                                                <label class="fw-bold" for="apiKey"><f:translate key="{llp}index.onboarding.apiSecret.label" /> <span class="fw-normal"><f:translate key="{llp}shared.optional" /></span></label>
                                                <input type="text" id="apiSecret" class="form-control" placeholder="{f:translate(key: '{llp}index.onboarding.apiSecret.label')}">
                                            </div>

                                            <div class="cf-api-info">
                                                <p><f:format.raw><f:translate key="{llp}index.onboarding.noApiKey" /></f:format.raw></p>
                                            </div>
                                        </div>

                                        <!-- Schritt 3: Fertigstellung -->
                                        <div class="cf-step-content" data-step="3">
                                            <div class="cf-step-header">
                                                <h2 class="fw-bold"><f:translate key="{llp}index.onboarding.step3.heading" /></h2>
                                            </div>

                                            <p><f:translate key="{llp}index.onboarding.step3.intro" /></p>


                                            <div class="cf-tutorial-teaser">

                                                <div class="cf-step-header">
                                                    <h4 class="fw-bold"><f:translate key="{llp}index.onboarding.tutorials.heading" /></h4>

                                                    <div class="cf-step-header-alert">
                                                        <core:icon identifier="actions-info-circle" size="small" /> <f:translate key="{llp}index.onboarding.tutorials.note" />
                                                    </div>

                                                </div>

                                                <div class="cf-tutorial-list">
                                                    <div class="cf-tutorial-item">
                                                        <a href="https://coding-freaks.com/tutorials/docs/cookie-docs/scanning-cookies/" target="_blank">
                                                            <span class="cf-tutorial-title"><f:translate key="{llp}index.onboarding.tutorials.scanner.title" /></span>
                                                            <span class="cf-tutorial-description"><f:translate key="{llp}index.onboarding.tutorials.scanner.desc" /></span>
                                                            <span class="text-decoration-underline"><f:translate key="{llp}index.onboarding.tutorials.learnMore" /></span>
                                                        </a>
                                                    </div>
                                                    <div class="cf-tutorial-item">
                                                        <a href="https://coding-freaks.com/tutorials/docs/cookie-docs/cookieworkflow/" target="_blank">
                                                            <span class="cf-tutorial-title"><f:translate key="{llp}index.onboarding.tutorials.workflow.title" /></span>
                                                            <span class="cf-tutorial-description"><f:translate key="{llp}index.onboarding.tutorials.workflow.desc" /></span>
                                                            <span class="text-decoration-underline"><f:translate key="{llp}index.onboarding.tutorials.learnMore" /></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <p class="cf-final-notice"><f:translate key="{llp}index.onboarding.finalNotice" /></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cf-onboarding-actions">
                                        <button class="btn btn-default cf-prev-btn" style="display: none;"><f:translate key="{llp}index.onboarding.back" /></button>
                                        <button class="btn btn-primary cf-next-btn"><f:translate key="{llp}index.onboarding.next" /></button>
                                        <button class="btn btn-success cf-install-btn" style="display: none;"
                                                data-cf-endpoint="{typoScriptConfig.end_point}" data-cf-storage="{storageUID}"><f:translate key="{llp}index.onboarding.installPresets" />
                                        </button>
                                    </div>


                                </div>

                            </div>


                            <div id="cf-offlineDatasetInstall" style="display: none">
                                <!-- Custom import needed -->
                                <p><f:translate key="{llp}index.offline.intro" /></p>
                                <a class="btn btn-primary" target="_blank" href="https://coding-freaks.com/download/preset/typo3"><f:translate key="{llp}index.offline.downloadPreset" /></a>
                                <hr>
                                <!-- Add form for zip upload -->

                                <input type="file" id="datasetFile" name="fileToUpload[]" data-cf-storage="{storageUID}">
                                <div id="loading-spinner-offline" style="display:none;">
                                    <f:translate key="{llp}shared.loading" />
                                    <typo3-backend-spinner size="small"></typo3-backend-spinner>
                                </div>
                                <button class="btn btn-success startConfigurationOffline" data-cf-storage="{storageUID}"><f:translate key="{llp}index.offline.startConfiguration" />
                                </button>


                            </div>
                        </f:else>
                    </f:if>



                </div>


            </f:then>
            <f:else>
                <div class="typo3-TCEforms">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs t3js-tabs" role="tablist"
                            data-store-last-tab="1">
                            <f:for each="{tabs}" as="tab" iteration="iteration">
                                <li role="presentation" class="t3js-tabmenu-item nav-item">
                                    <a href="#DTM-{tab.identifier}-1"
                                       class="nav-link   {f:if(condition:'{iteration.isFirst}', then:'active')}"
                                       title=""
                                       aria-controls="DTM-{tab.identifier}-1" role="tab" data-bs-toggle="tab">
                                        {tab.title}
                                    </a>
                                </li>
                            </f:for>
                        </ul>
                        <div class="tab-content">
                            <f:for each="{tabs}" as="tab" iteration="iteration">
                                <div role="tabpanel"
                                     class="tab-pane  {f:if(condition:'{iteration.isFirst}', then:'active')}"
                                     id="DTM-{tab.identifier}-1">
                                    <div class="panel panel-tab">
                                        <div class="panel-body">
                                            <f:render partial="backendTabs/{tab.identifier}"
                                                      arguments="{_all}"></f:render>
                                        </div>
                                    </div>
                                </div>
                            </f:for>
                        </div>
                    </div>
                </div>
                <div class="cf-footer">
                    <div>
                        <f:translate key="{llp}index.footer.poweredBy" /> <a href="https://coding-freaks.com" target="_blank">CodingFreaks</a> | <a
                            target="_blank"
                            href="https://typo3.slack.com/archives/C04NB2ZP30U"><f:format.raw><f:translate key="{llp}index.footer.questions" /></f:format.raw></a> | <a
                            href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Sitemap.html"
                            target="_blank"><f:translate key="{llp}index.footer.documentation" /></a> | <a
                            href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/ChangeLog/Index.html"
                            target="_blank"><f:translate key="{llp}index.footer.changelog" /></a>
                    </div>
                    <div>
                        <a href="https://coding-freaks.com/cookie-scanner" target="_blank"><f:translate key="{llp}index.footer.gdprScanner" /></a>
                    </div>
                </div>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
