<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">

    <div class="loadingcontainer" >
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
        <hr>
        <div class="text">Loading Cookiemanager...</div>
    </div>

    <div class="module-body t3js-module-body cf_manager" style="display: none;">
        <f:if condition="{noselection}">
            <div class="alert alert-info">
                <div class="media">
                    <div class="media-left"><span class="fa-stack fa-lg">        <i
                            class="fa fa-circle fa-stack-2x"></i>        <i class="fa fa-info fa-stack-1x"></i>      </span>
                    </div>
                    <div class="media-body"><p class="alert-message">    <strong>Select a Root-Page to view Cookie configuration</strong><br>
                    </p>
                    </div>
                </div>
            </div>
        </f:if>
        <f:if condition="{firstInstall}">
            <f:then>
                <h2>Welcome to CodingFreaks Cookie Manager</h2>
                <hr>
                <f:flashMessages></f:flashMessages>
                <div class="cf-cookiemanager-alert">

                    <f:if condition="{error_internet}">
                        <f:then>
                            <!-- Custom import needed -->
                            <p>You can import the data manually. Keep in mind, in this case you can not use the codingfreaks API Features in this Extension.</p>
                            <a class="btn btn-primary" target="_blank" href="https://cookieapi.coding-freaks.com/application-programming-interface">Download Preset</a>
                            <hr>
                            <!-- Add form for zip upload -->
                            <f:form method="post" enctype="multipart/form-data" action="index" name="zipUpload" id="zipUpload">
                                <f:form.upload property="fileToUpload"  name="fileToUpload[]"  />
                                <f:form.submit value="Upload Zip" />
                            </f:form>
                        </f:then>
                        <f:else>

                            <h3><strong>There appears to be no data in the database. </strong></h3>
                            <p>
                                For more information, please refer to the following link: <strong>  <a target="_blank" href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Installation/Index.html#autoimport-datasets-for-languages">Autoimport Datasets -></a></strong>
                            </p>
                            <f:form method="post" action="index">
                                <f:form.textfield style="display:none;"  value="start" name="firstconfigurationinstall"></f:form.textfield>
                                <f:form.button class="btn btn-success startConfiguration">Start Configuration</f:form.button>
                            </f:form>
                        </f:else>
                    </f:if>

                </div>


            </f:then>
            <f:else>
                <div class="typo3-TCEforms">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs t3js-tabs" role="tablist"
                            data-store-last-tab="1">
                            <f:for each="{tabs}" as="tab" iteration="iteration">
                                <li role="presentation" class="t3js-tabmenu-item nav-item">
                                    <a href="#DTM-{tab.identifier}-1"
                                       class="nav-link   {f:if(condition:'{iteration.isFirst}', then:'active')}"
                                       title=""
                                       aria-controls="DTM-{tab.identifier}-1" role="tab" data-bs-toggle="tab">
                                        {tab.title}
                                    </a>
                                </li>
                            </f:for>
                        </ul>
                        <div class="tab-content">
                            <f:for each="{tabs}" as="tab" iteration="iteration">
                                <div role="tabpanel"
                                     class="tab-pane  {f:if(condition:'{iteration.isFirst}', then:'active')}"
                                     id="DTM-{tab.identifier}-1">
                                    <div class="panel panel-tab">
                                        <div class="panel-body">
                                            <f:render partial="backendTabs/{tab.identifier}"
                                                      arguments="{_all}"></f:render>
                                        </div>
                                    </div>
                                </div>
                            </f:for>

                        </div>
                    </div>
                </div>
                <div class="cf-footer">
                    powered by <a href="https://coding-freaks.com" target="_blank">CodingFreaks</a>  |  <a target="_blank" href="https://typo3.slack.com/archives/C04NB2ZP30U"><strong>Questions?</strong> Join the Typo3 Slack Channel #ext-cfcookiemanager</a> | <a href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Sitemap.html" target="_blank">CookieManager Documentation</a> | <a href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/ChangeLog/Index.html" target="_blank">Changelog</a>
                </div>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
