.cf-cookiemanager-changes-modal-list{

}

.cf-cookiemanager-changes-modal-listitem{
  background: var(--typo3-surface-container-low);
  margin-bottom: 20px;
  padding: 20px;

  strong{
    font-size: 20px;
  }

  .cf-cookiemanager-changes-modal-changes-api,.cf-cookiemanager-changes-modal-changes-local{
    display: flex;
    font-weight: bold;
    font-size: 14px;
    > div{
      margin-left: 10px;
      font-weight: normal;
    }
  }
}
