@import "OnboardingTabs";

table.dataTable.display > tbody > tr.odd > .sorting_1, table.dataTable.order-column.stripe > tbody > tr.odd > .sorting_1 {
  box-shadow: none !important;
}

.cf-color-wrapper {
  background: var(--typo3-surface-container-high);
  padding: 20px;
}

.cf_manager {
  .card-header .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--typo3-text-color-base);
  }

  .recordlist {
    margin: 0 !important;
  }

  typo3-recordlist-record-download-button {
    display: none;
  }

  .recordlist-heading {
    .btn-default {
      display: none;
    }
  }
}

.actionbar {
  display: flex;
  justify-content: flex-end;
}

table.dataTable {
  width: 100% !important;
}

.description {
  color: var(--typo3-text-color-secondary);
}

.unknown-variables, .unknown-variables a {
  color: var(--typo3-state-danger-bg) !important;
}

.configurationTree {
  padding: 5px;
  list-style: none;
  border: solid 1px var(--typo3-component-border-color);

  .firstlevel {
    .btn {
      padding: 0px 20px;
    }

    &:first-child {
      border-top: 0;
    }

    border-top: solid 1px var(--typo3-component-border-color);
    padding: 5px 0 5px 0;

    &.hasitems {}

    &.noitems {
      color: var(--typo3-text-color-secondary);

      span {}
    }

    ul {
      li {}
    }
  }
}

#collapseAutoconfigurationForm {
  background: var(--typo3-surface-container-low);
  padding: 20px;
}

.autoconfiguration_form_configuration {
  .autoconfiguration_form_configuration_row {
    border-bottom: solid 1px var(--typo3-component-border-color);
    display: flex;
    justify-content: space-between;

    div {
      -moz-box-flex: 1;
      flex: 1;
      width: auto;

      &.select {
        flex: 0;
        padding-right: 10px;
        width: 150px;
      }
    }
  }
}

.loadingcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;

  .spinner-border {
    margin: 0 auto;
  }

  .text {
    text-align: center;
    font-size: 28px;
    color: var(--typo3-text-color-base);
  }
}

.settings-configuration {
  .setting-item {
    background-color: var(--typo3-surface-container-high);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;

    .setting-button {
      color: var(--typo3-state-success-color);
      padding: 6px 18px;
      border-radius: 5px;
      font-size: 14px;
      background-color: var(--typo3-state-success-bg);
    }
  }

  .settings-item-head {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;

    a {
      color: var(--typo3-text-color-base);
    }

    h3 {
      margin: 0;
      color: var(--typo3-text-color-base);
    }
  }

  .settings-item-head-line {
    margin-bottom: 10px;
    border-bottom: solid 2px var(--typo3-component-border-color);
  }

  .setting-item-row {
    a {
      font-size: 14px;
      color: var(--typo3-text-color-base);
    }

    .settings-block {
      background-color: var(--typo3-surface-container-base);
      padding: 10px;
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.tutorial-tours {
  .tutorial-tour {
    justify-content: space-between;
    display: flex;

    p {
      padding-left: 5px;
      margin: 0;
      color: var(--typo3-text-color-base);
    }

    padding: 10px;
    border-color: var(--typo3-component-border-color);
    border-radius: 5px;
    border: solid 1px;
    margin-bottom: 15px;
  }
}

.edit-icon-white {
  padding-bottom: 5px;
}

.cf-tutorial-section {
  background-color: var(--typo3-surface-container-high);
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  color: var(--typo3-text-color-base);

  h3 {
    font-weight: bold;
  }

  p {
    margin-bottom: 5px;
  }

  .cf-tutorial-notice {
    background-color: var(--typo3-surface-container-base);
    border-color: var(--typo3-component-border-color);
    border-radius: 5px;
    font-weight: bold;
    color: var(--typo3-text-color-base);
    padding: 10px;
    margin-bottom: 10px;
  }

  .btn-cookie-tutorial {
    background-color: var(--typo3-state-warning-bg);
    border-color: var(--typo3-state-warning-border-color);
    border-radius: 5px;
    font-weight: bold;
    color: var(--typo3-state-warning-color);
    margin-right: 10px;
  }

  .cf-cookie-btn-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.cf-autoconfiguration-box {
  background-color: var(--typo3-surface-container-high);
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  color: var(--typo3-text-color-base);

  label, span {
    padding-left: 0;
  }

  input {
    border: none;
  }

  .btn.btn-success {
    color: var(--typo3-state-success-color);
    padding: 6px 18px;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--typo3-state-success-bg);
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
  }
}

.cf-scan-reports {
  background-color: var(--typo3-surface-container-low);
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  color: var(--typo3-text-color-base);
  margin-top: 20px;

  .dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input {
    background: var(--typo3-form-control-bg);
    border: none;
    color: var(--typo3-form-control-color);
  }

  h3 {
    margin-bottom: 20px;
  }

  .table > :not(caption) > * > * {
    background-color: var(--typo3-surface-container-low);
  }

  table.dataTable {
    padding-top: 20px;
  }

  .tx_cfcookiemanager.table.dataTable thead tr td {
    background-color: var(--typo3-surface-container-low);
    color: var(--typo3-text-color-base);
  }

  .tx_cfcookiemanager.table.dataTable tbody tr {
    padding: 10px;
    border-color: var(--typo3-component-border-color);
    background-color: var(--typo3-surface-container-low);
    border-radius: 5px;
    border: solid 1px;
    margin-bottom: 15px;

    .btn {
      color: var(--typo3-state-success-color);
      padding: 6px 18px;
      border-radius: 5px;
      font-size: 14px;
      background-color: var(--typo3-state-success-bg);
      font-weight: bold;
      border: none;
      margin-bottom: 6px;
      margin-top: 6px;
      margin-right: 10px;

      &:last-child {
        background: var(--typo3-btn-default-bg);
        color: var(--typo3-btn-default-color);
        border-color: var(--typo3-btn-default-border-color);
      }
    }

    .btn.btn-light {
      color: white;
      background: var(--typo3-state-primary-bg);
      border-color: var(--typo3-state-primary-border-color);
    }
  }
}

.cf-footer {
  display: flex;
  justify-content: space-between;
  color: var(--typo3-text-color-base);
}



/* Administration Changes */


#cf-api-database-update-list{
  margin-top: 20px;
}

#changes-container {
  font-family: Arial, sans-serif;
}

.cf-cookiemanager-change-section {
  margin-bottom: 20px;
  background: var(--typo3-surface-container-low);
}

.cf-cookiemanager-language{
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 1px;
  border-color: var(--typo3-component-border-color);
  background: var(--typo3-surface-container-lowest);

  .cf-cookiemanager-language-inner{
    margin-left: 20px;
  }
}


.cf-cookiemanager-change-subsection-title{
  font-size: 16px;
  font-weight: bold;
}

.cf-cookiemanager-change-subsection {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px;
  border-color: var(--typo3-component-border-color);

  &:last-child {
    border-bottom: none;
  }

}

.cf-cookiemanager-change-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: solid 1px;
  border-color: var(--typo3-surface-container-lowest);

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

}

.cf-cookiemanager-change-list-item span {
  flex-grow: 1;
}

.cf-cookiemanager-change-list-item-name{
  cursor: pointer;
}

.cf-cookiemanager-buttons {
  display: flex;
  gap: 10px;
}

.cf-cookiemanager-buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cf-cookiemanager-see-more {
  background: transparent;
  padding: 5px 5px;
  border-bottom: solid 1px var(--typo3-text-color-base) !important;
  color: var(--typo3-text-color-base);
}

.cf-cookiemanager-ignore {
  background-color: var(--typo3-state-danger-bg);
  color: var(--typo3-state-danger-color);
}

.cf-cookiemanager-update {
  background-color: var(--typo3-state-success-bg);
  color: var(--typo3-state-success-color);
}

.cf-cookiemanager-insert {
  background-color: var(--typo3-state-success-bg);
  color: var(--typo3-state-success-color);
}
