.cf-onboarding-container .cf-onboarding-progress {
  display: flex;
}
.cf-onboarding-container .cf-onboarding-progress .cf-step {
  padding: 20px;
  background: #d2d2d2;
}
[data-color-scheme=dark] .cf-onboarding-container .cf-onboarding-progress .cf-step {
  background: #333;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-onboarding-container .cf-onboarding-progress .cf-step {
    background: #333;
  }
  [data-theme=auto] .cf-onboarding-container .cf-onboarding-progress .cf-step {
    background: #333;
  }
}
.cf-onboarding-container .cf-onboarding-progress .cf-step.active {
  background: #d2d2d2;
}
[data-color-scheme=dark] .cf-onboarding-container .cf-onboarding-progress .cf-step.active {
  background: #606060;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-onboarding-container .cf-onboarding-progress .cf-step.active {
    background: #606060;
  }
  [data-theme=auto] .cf-onboarding-container .cf-onboarding-progress .cf-step.active {
    background: #606060;
  }
}
.cf-onboarding-container .cf-onboarding-progress .cf-step.completed {
  background: #9BB51C;
}
[data-color-scheme=dark] .cf-onboarding-container .cf-onboarding-progress .cf-step.completed {
  background: #3f4c00;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-onboarding-container .cf-onboarding-progress .cf-step.completed {
    background: #3f4c00;
  }
  [data-theme=auto] .cf-onboarding-container .cf-onboarding-progress .cf-step.completed {
    background: #3f4c00;
  }
}
.cf-onboarding-container .cf-onboarding-content .cf-step-content {
  padding: 20px;
  display: none;
  background: #d2d2d2;
  color: #4B4B4B;
}
[data-color-scheme=dark] .cf-onboarding-container .cf-onboarding-content .cf-step-content {
  background: #606060;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-onboarding-container .cf-onboarding-content .cf-step-content {
    background: #606060;
    color: #fff;
  }
  [data-theme=auto] .cf-onboarding-container .cf-onboarding-content .cf-step-content {
    background: #606060;
    color: #fff;
  }
}
.cf-onboarding-container .cf-onboarding-content .cf-step-content.active {
  display: block;
}
.cf-onboarding-container .cf-onboarding-content .form-group {
  margin-bottom: 15px;
  /*
  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  }
  */
}
.cf-onboarding-container .cf-onboarding-content .form-group label {
  display: block;
  margin-bottom: 5px;
}
.cf-onboarding-container .cf-onboarding-content .form-group input[type=text],
.cf-onboarding-container .cf-onboarding-content .form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.cf-onboarding-container .cf-onboarding-content .error {
  color: red;
  border: solid 1px red !important;
}
.cf-onboarding-container .cf-onboarding-content .cf-consent-options {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
.cf-onboarding-container .cf-onboarding-content .cf-consent-options .cf-consent-option {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.cf-onboarding-container .cf-onboarding-content .cf-consent-options .cf-consent-option:hover {
  background: #d2d2d2;
  color: #4B4B4B;
}
[data-color-scheme=dark] .cf-onboarding-container .cf-onboarding-content .cf-consent-options .cf-consent-option:hover {
  background: #606060;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-onboarding-container .cf-onboarding-content .cf-consent-options .cf-consent-option:hover {
    background: #606060;
    color: #fff;
  }
  [data-theme=auto] .cf-onboarding-container .cf-onboarding-content .cf-consent-options .cf-consent-option:hover {
    background: #606060;
    color: #fff;
  }
}
.cf-onboarding-container .cf-onboarding-content .cf-consent-options .cf-consent-option input[type=radio] {
  display: none;
}
.cf-onboarding-container .cf-onboarding-content .cf-consent-options .cf-consent-option .cf-icon {
  margin-right: 10px;
  font-size: 20px;
}
.cf-onboarding-container .cf-onboarding-content .cf-consent-options .cf-consent-option .cf-icon i {
  color: #007bff;
}
.cf-onboarding-container .cf-onboarding-content .cf-consent-options .cf-consent-option label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cf-onboarding-container .cf-onboarding-content .cf-consent-options .cf-consent-option input[type=radio]:checked + label {
  font-weight: bold;
}
.cf-onboarding-container .cf-onboarding-content .cf-feature-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}
.cf-onboarding-container .cf-onboarding-content .cf-feature-table th,
.cf-onboarding-container .cf-onboarding-content .cf-feature-table td {
  padding: 0.75em;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}
.cf-onboarding-container .cf-onboarding-content .cf-feature-table th {
  background: #d2d2d2;
  color: #4B4B4B;
  font-weight: bold;
}
[data-color-scheme=dark] .cf-onboarding-container .cf-onboarding-content .cf-feature-table th {
  background: #606060;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-onboarding-container .cf-onboarding-content .cf-feature-table th {
    background: #606060;
    color: #fff;
  }
  [data-theme=auto] .cf-onboarding-container .cf-onboarding-content .cf-feature-table th {
    background: #606060;
    color: #fff;
  }
}
.cf-onboarding-container .cf-onboarding-content .cf-feature-table tbody tr:last-child td {
  border-bottom: none;
}
.cf-onboarding-container .cf-onboarding-content .cf-feature-table .text-center {
  text-align: center;
}
.cf-onboarding-container .cf-onboarding-content .cf-feature-table .feature-description {
  display: block;
  font-size: 0.8em;
  color: #4B4B4B;
}
[data-color-scheme=dark] .cf-onboarding-container .cf-onboarding-content .cf-feature-table .feature-description {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-onboarding-container .cf-onboarding-content .cf-feature-table .feature-description {
    color: #fff;
  }
  [data-theme=auto] .cf-onboarding-container .cf-onboarding-content .cf-feature-table .feature-description {
    color: #fff;
  }
}
.cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser {
  background: #d2d2d2;
  color: #4B4B4B;
  border-radius: 5px;
  margin-bottom: 20px;
}
[data-color-scheme=dark] .cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser {
  background: #606060;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser {
    background: #606060;
    color: #fff;
  }
  [data-theme=auto] .cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser {
    background: #606060;
    color: #fff;
  }
}
.cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser p {
  margin-bottom: 15px;
}
.cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-tutorial-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-tutorial-list .cf-tutorial-item a {
  display: block;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}
.cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-tutorial-list .cf-tutorial-item a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-tutorial-list .cf-tutorial-item a .cf-tutorial-title {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-tutorial-list .cf-tutorial-item a .cf-tutorial-description {
  display: block;
  font-size: 0.9em;
  color: #6c757d;
}
[data-color-scheme=dark] .cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-tutorial-list .cf-tutorial-item a .cf-tutorial-description {
  color: #999;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-tutorial-list .cf-tutorial-item a .cf-tutorial-description {
    color: #999;
  }
  [data-theme=auto] .cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-tutorial-list .cf-tutorial-item a .cf-tutorial-description {
    color: #999;
  }
}
.cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-final-notice {
  font-style: italic;
  text-align: center;
  color: #6c757d;
}
[data-color-scheme=dark] .cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-final-notice {
  color: #999;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-final-notice {
    color: #999;
  }
  [data-theme=auto] .cf-onboarding-container .cf-onboarding-content .cf-tutorial-teaser .cf-final-notice {
    color: #999;
  }
}
.cf-onboarding-container .cf-onboarding-actions {
  margin-top: 20px;
  text-align: right;
}
.cf-onboarding-container .cf-onboarding-actions button {
  margin-left: 10px;
}

table.dataTable.display > tbody > tr.odd > .sorting_1, table.dataTable.order-column.stripe > tbody > tr.odd > .sorting_1 {
  box-shadow: none !important;
}

.cf-color-wrapper {
  background: #EBEBEB;
  padding: 20px;
}
[data-color-scheme=dark] .cf-color-wrapper {
  background: #333;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-color-wrapper {
    background: #333;
  }
  [data-theme=auto] .cf-color-wrapper {
    background: #333;
  }
}

.cf_manager .card-header .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4B4B4B;
}
[data-color-scheme=dark] .cf_manager .card-header .card-title {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf_manager .card-header .card-title {
    color: #fff;
  }
  [data-theme=auto] .cf_manager .card-header .card-title {
    color: #fff;
  }
}
.cf_manager .recordlist {
  margin: 0 !important;
}
.cf_manager typo3-recordlist-record-download-button {
  display: none;
}
.cf_manager .recordlist-heading .btn-default {
  display: none;
}

.actionbar {
  display: flex;
  justify-content: flex-end;
}

table.dataTable {
  width: 100% !important;
}

.description {
  color: gray;
}

.unknown-variables, .unknown-variables a {
  color: red !important;
}

.configurationTree {
  padding: 5px;
  list-style: none;
  border: solid 1px black;
}
.configurationTree .firstlevel {
  border-top: solid 1px black;
  padding: 5px 0 5px 0;
}
.configurationTree .firstlevel .btn {
  padding: 0px 20px;
}
.configurationTree .firstlevel:first-child {
  border-top: 0;
}
.configurationTree .firstlevel.noitems {
  color: rgba(0, 0, 0, 0.175);
}
#collapseAutoconfigurationForm {
  background: #EBEBEB;
  padding: 20px;
}
[data-color-scheme=dark] #collapseAutoconfigurationForm {
  background: #333;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] #collapseAutoconfigurationForm {
    background: #333;
  }
  [data-theme=auto] #collapseAutoconfigurationForm {
    background: #333;
  }
}

.autoconfiguration_form_configuration .autoconfiguration_form_configuration_row {
  border-bottom: solid 1px rgba(197, 221, 243, 0.61);
  display: flex;
  justify-content: space-between;
}
[data-color-scheme=dark] .autoconfiguration_form_configuration .autoconfiguration_form_configuration_row {
  border-bottom: solid 1px #444;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .autoconfiguration_form_configuration .autoconfiguration_form_configuration_row {
    border-bottom: solid 1px #444;
  }
  [data-theme=auto] .autoconfiguration_form_configuration .autoconfiguration_form_configuration_row {
    border-bottom: solid 1px #444;
  }
}
.autoconfiguration_form_configuration .autoconfiguration_form_configuration_row div {
  -moz-box-flex: 1;
  flex: 1;
  width: auto;
}
.autoconfiguration_form_configuration .autoconfiguration_form_configuration_row div.select {
  flex: 0;
  padding-right: 10px;
  width: 150px;
}

.loadingcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}
.loadingcontainer .spinner-border {
  margin: 0 auto;
}
.loadingcontainer .text {
  text-align: center;
  font-size: 28px;
  color: #4B4B4B;
}
[data-color-scheme=dark] .loadingcontainer .text {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .loadingcontainer .text {
    color: #fff;
  }
  [data-theme=auto] .loadingcontainer .text {
    color: #fff;
  }
}

.settings-configuration .setting-item {
  background-color: #EBEBEB;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
[data-color-scheme=dark] .settings-configuration .setting-item {
  background-color: #333;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .settings-configuration .setting-item {
    background-color: #333;
  }
  [data-theme=auto] .settings-configuration .setting-item {
    background-color: #333;
  }
}
.settings-configuration .setting-item .setting-button {
  color: white;
  padding: 6px 18px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #9BB51C;
}
[data-color-scheme=dark] .settings-configuration .setting-item .setting-button {
  background-color: #3f4c00;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .settings-configuration .setting-item .setting-button {
    background-color: #3f4c00;
  }
  [data-theme=auto] .settings-configuration .setting-item .setting-button {
    background-color: #3f4c00;
  }
}
.settings-configuration .settings-item-head {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
.settings-configuration .settings-item-head a {
  color: #4B4B4B;
}
[data-color-scheme=dark] .settings-configuration .settings-item-head a {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .settings-configuration .settings-item-head a {
    color: #fff;
  }
  [data-theme=auto] .settings-configuration .settings-item-head a {
    color: #fff;
  }
}
.settings-configuration .settings-item-head h3 {
  margin: 0;
  color: #4B4B4B;
}
[data-color-scheme=dark] .settings-configuration .settings-item-head h3 {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .settings-configuration .settings-item-head h3 {
    color: #fff;
  }
  [data-theme=auto] .settings-configuration .settings-item-head h3 {
    color: #fff;
  }
}
.settings-configuration .settings-item-head-line {
  margin-bottom: 10px;
  border-bottom: solid 2px rgba(197, 221, 243, 0.61);
}
[data-color-scheme=dark] .settings-configuration .settings-item-head-line {
  border-bottom: solid 2px #444;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .settings-configuration .settings-item-head-line {
    border-bottom: solid 2px #444;
  }
  [data-theme=auto] .settings-configuration .settings-item-head-line {
    border-bottom: solid 2px #444;
  }
}
.settings-configuration .setting-item-row a {
  font-size: 14px;
  color: #4B4B4B;
}
[data-color-scheme=dark] .settings-configuration .setting-item-row a {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .settings-configuration .setting-item-row a {
    color: #fff;
  }
  [data-theme=auto] .settings-configuration .setting-item-row a {
    color: #fff;
  }
}
.settings-configuration .setting-item-row .settings-block {
  background-color: rgba(197, 221, 243, 0.61);
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
[data-color-scheme=dark] .settings-configuration .setting-item-row .settings-block {
  background-color: #444;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .settings-configuration .setting-item-row .settings-block {
    background-color: #444;
  }
  [data-theme=auto] .settings-configuration .setting-item-row .settings-block {
    background-color: #444;
  }
}

.tutorial-tours .tutorial-tour {
  justify-content: space-between;
  display: flex;
  padding: 10px;
  border-color: rgba(197, 221, 243, 0.61);
  border-radius: 5px;
  border: solid 1px;
  margin-bottom: 15px;
}
.tutorial-tours .tutorial-tour p {
  padding-left: 5px;
  margin: 0;
  color: #4B4B4B;
}
[data-color-scheme=dark] .tutorial-tours .tutorial-tour p {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .tutorial-tours .tutorial-tour p {
    color: #fff;
  }
  [data-theme=auto] .tutorial-tours .tutorial-tour p {
    color: #fff;
  }
}
[data-color-scheme=dark] .tutorial-tours .tutorial-tour {
  border-color: #444;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .tutorial-tours .tutorial-tour {
    border-color: #444;
  }
  [data-theme=auto] .tutorial-tours .tutorial-tour {
    border-color: #444;
  }
}

.edit-icon-white {
  padding-bottom: 5px;
}

.cf-cookiemanager-alert {
  font-size: 1rem;
  color: #4B4B4B;
  padding: 35px;
  background-color: #EBEBEB;
  border-color: rgba(197, 221, 243, 0.61);
}
[data-color-scheme=dark] .cf-cookiemanager-alert {
  background-color: #333;
  border-color: #444;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-cookiemanager-alert {
    background-color: #333;
    border-color: #444;
    color: #fff;
  }
  [data-theme=auto] .cf-cookiemanager-alert {
    background-color: #333;
    border-color: #444;
    color: #fff;
  }
}

.cf-tutorial-section {
  background-color: #EBEBEB;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  color: #4B4B4B;
}
[data-color-scheme=dark] .cf-tutorial-section {
  background-color: #333;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-tutorial-section {
    background-color: #333;
    color: #fff;
  }
  [data-theme=auto] .cf-tutorial-section {
    background-color: #333;
    color: #fff;
  }
}
.cf-tutorial-section h3 {
  font-weight: bold;
}
.cf-tutorial-section p {
  margin-bottom: 5px;
}
.cf-tutorial-section .cf-tutorial-notice {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  border-radius: 5px;
  font-weight: bold;
  color: #4B4B4B;
  padding: 10px;
  margin-bottom: 10px;
}
[data-color-scheme=dark] .cf-tutorial-section .cf-tutorial-notice {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-tutorial-section .cf-tutorial-notice {
    background-color: #333;
    border-color: #333;
    color: #fff;
  }
  [data-theme=auto] .cf-tutorial-section .cf-tutorial-notice {
    background-color: #333;
    border-color: #333;
    color: #fff;
  }
}
.cf-tutorial-section .btn-cookie-tutorial {
  background-color: #e9cd2a;
  border-color: #e9cd2a;
  border-radius: 5px;
  font-weight: bold;
  color: #4B4B4B;
  margin-right: 10px;
}
[data-color-scheme=dark] .cf-tutorial-section .btn-cookie-tutorial {
  color: #fff;
  background: #333;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-tutorial-section .btn-cookie-tutorial {
    color: #fff;
    background: #333;
  }
  [data-theme=auto] .cf-tutorial-section .btn-cookie-tutorial {
    color: #fff;
    background: #333;
  }
}
.cf-tutorial-section .cf-cookie-btn-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cf-autoconfiguration-box {
  background-color: #EBEBEB;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  color: #4B4B4B;
}
[data-color-scheme=dark] .cf-autoconfiguration-box {
  background-color: #333;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-autoconfiguration-box {
    background-color: #333;
    color: #fff;
  }
  [data-theme=auto] .cf-autoconfiguration-box {
    background-color: #333;
    color: #fff;
  }
}
.cf-autoconfiguration-box label, .cf-autoconfiguration-box span {
  padding-left: 0;
}
.cf-autoconfiguration-box input {
  border: none;
}
.cf-autoconfiguration-box .btn.btn-success {
  color: white;
  padding: 6px 18px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #9BB51C;
  font-weight: bold;
  border: none;
  margin-bottom: 10px;
}
[data-color-scheme=dark] .cf-autoconfiguration-box .btn.btn-success {
  background-color: #3f4c00;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-autoconfiguration-box .btn.btn-success {
    background-color: #3f4c00;
  }
  [data-theme=auto] .cf-autoconfiguration-box .btn.btn-success {
    background-color: #3f4c00;
  }
}

.cf-scan-reports {
  background-color: #EBEBEB;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  color: #4B4B4B;
  margin-top: 20px;
}
[data-color-scheme=dark] .cf-scan-reports {
  background-color: #333;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-scan-reports {
    background-color: #333;
    color: #fff;
  }
  [data-theme=auto] .cf-scan-reports {
    background-color: #333;
    color: #fff;
  }
}
.cf-scan-reports .dataTables_wrapper .dataTables_length select, .cf-scan-reports .dataTables_wrapper .dataTables_filter input {
  background: #EBEBEB;
  border: none;
}
[data-color-scheme=dark] .cf-scan-reports .dataTables_wrapper .dataTables_length select, [data-color-scheme=dark] .cf-scan-reports .dataTables_wrapper .dataTables_filter input {
  background: #333;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-scan-reports .dataTables_wrapper .dataTables_length select, [data-color-scheme=auto] .cf-scan-reports .dataTables_wrapper .dataTables_filter input {
    background: #333;
  }
  [data-theme=auto] .cf-scan-reports .dataTables_wrapper .dataTables_length select, [data-theme=auto] .cf-scan-reports .dataTables_wrapper .dataTables_filter input {
    background: #333;
  }
}
.cf-scan-reports h3 {
  margin-bottom: 20px;
}
.cf-scan-reports .table > :not(caption) > * > * {
  background-color: #EBEBEB;
}
[data-color-scheme=dark] .cf-scan-reports .table > :not(caption) > * > * {
  background-color: #333;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-scan-reports .table > :not(caption) > * > * {
    background-color: #333;
  }
  [data-theme=auto] .cf-scan-reports .table > :not(caption) > * > * {
    background-color: #333;
  }
}
.cf-scan-reports table.dataTable {
  padding-top: 20px;
}
.cf-scan-reports .tx_cfcookiemanager.table.dataTable thead tr td {
  background-color: #EBEBEB;
  color: #4B4B4B;
}
[data-color-scheme=dark] .cf-scan-reports .tx_cfcookiemanager.table.dataTable thead tr td {
  background-color: #333;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-scan-reports .tx_cfcookiemanager.table.dataTable thead tr td {
    background-color: #333;
    color: #fff;
  }
  [data-theme=auto] .cf-scan-reports .tx_cfcookiemanager.table.dataTable thead tr td {
    background-color: #333;
    color: #fff;
  }
}
.cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr {
  padding: 10px;
  border-color: #EBEBEB;
  background-color: #EBEBEB;
  border-radius: 5px;
  border: solid 1px;
  margin-bottom: 15px;
}
[data-color-scheme=dark] .cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr {
  border-color: #333;
  background-color: #333;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr {
    border-color: #333;
    background-color: #333;
  }
  [data-theme=auto] .cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr {
    border-color: #333;
    background-color: #333;
  }
}
.cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr .btn {
  color: white;
  padding: 6px 18px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #9BB51C;
  font-weight: bold;
  border: none;
  margin-bottom: 6px;
  margin-top: 6px;
  margin-right: 10px;
}
[data-color-scheme=dark] .cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr .btn {
  background-color: #3f4c00;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr .btn {
    background-color: #3f4c00;
  }
  [data-theme=auto] .cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr .btn {
    background-color: #3f4c00;
  }
}
.cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr .btn:last-child {
  background: #EBEBEB;
  color: #4B4B4B;
  border-color: #4B4B4B;
}
[data-color-scheme=dark] .cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr .btn:last-child {
  background: #333;
  color: #fff;
  border-color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr .btn:last-child {
    background: #333;
    color: #fff;
    border-color: #fff;
  }
  [data-theme=auto] .cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr .btn:last-child {
    background: #333;
    color: #fff;
    border-color: #fff;
  }
}
.cf-scan-reports .tx_cfcookiemanager.table.dataTable tbody tr .btn.btn-light {
  color: white;
  background: #0066c4;
  border-color: #0066c4;
}

.cf-footer {
  display: flex;
  justify-content: space-between;
  color: #4B4B4B;
}
[data-color-scheme=dark] .cf-footer {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-footer {
    color: #fff;
  }
  [data-theme=auto] .cf-footer {
    color: #fff;
  }
}

/* Administration Changes */
#cf-api-database-update-list {
  margin-top: 20px;
}

#changes-container {
  font-family: Arial, sans-serif;
}

.cf-cookiemanager-change-section {
  margin-bottom: 20px;
  background: #EBEBEB;
}
[data-color-scheme=dark] .cf-cookiemanager-change-section {
  background: #333;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-cookiemanager-change-section {
    background: #333;
  }
  [data-theme=auto] .cf-cookiemanager-change-section {
    background: #333;
  }
}

.cf-cookiemanager-language {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 1px;
  border-color: #4B4B4B;
  background: #d2d2d2;
}
[data-color-scheme=dark] .cf-cookiemanager-language {
  border-color: #fff;
  background: #606060;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-cookiemanager-language {
    border-color: #fff;
    background: #606060;
  }
  [data-theme=auto] .cf-cookiemanager-language {
    border-color: #fff;
    background: #606060;
  }
}
.cf-cookiemanager-language .cf-cookiemanager-language-inner {
  margin-left: 20px;
}

.cf-cookiemanager-change-subsection-title {
  font-size: 16px;
  font-weight: bold;
}

.cf-cookiemanager-change-subsection {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px;
  border-color: #4B4B4B;
}
[data-color-scheme=dark] .cf-cookiemanager-change-subsection {
  border-color: #fff;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-cookiemanager-change-subsection {
    border-color: #fff;
  }
  [data-theme=auto] .cf-cookiemanager-change-subsection {
    border-color: #fff;
  }
}
.cf-cookiemanager-change-subsection:last-child {
  border-bottom: none;
}

/*
.cf-cookiemanager-change-list {
  margin-left: 20px;
}
*/
.cf-cookiemanager-change-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: solid 1px;
  border-color: #d2d2d2;
}
[data-color-scheme=dark] .cf-cookiemanager-change-list-item {
  border-color: #606060;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-cookiemanager-change-list-item {
    border-color: #606060;
  }
  [data-theme=auto] .cf-cookiemanager-change-list-item {
    border-color: #606060;
  }
}
.cf-cookiemanager-change-list-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.cf-cookiemanager-change-list-item span {
  flex-grow: 1;
}

.cf-cookiemanager-change-list-item-name {
  cursor: pointer;
}

.cf-cookiemanager-buttons {
  display: flex;
  gap: 10px;
}

.cf-cookiemanager-buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cf-cookiemanager-see-more {
  background: transparent;
  padding: 5px 5px;
  border-bottom: solid 1px black !important;
  color: black;
}
[data-color-scheme=dark] .cf-cookiemanager-see-more {
  color: white;
  border-bottom: solid 1px white !important;
}
@media (prefers-color-scheme: dark) {
  [data-color-scheme=auto] .cf-cookiemanager-see-more {
    color: white;
    border-bottom: solid 1px white !important;
  }
  [data-theme=auto] .cf-cookiemanager-see-more {
    color: white;
    border-bottom: solid 1px white !important;
  }
}

.cf-cookiemanager-ignore {
  background-color: #dc3545;
  color: white;
}

.cf-cookiemanager-update {
  background-color: #28a745;
  color: white;
}

.cf-cookiemanager-insert {
  background-color: #28a745;
  color: white;
}

/*# sourceMappingURL=CookieSettings.css.map */
