.cf_manager{
  .recordlist{
   margin: 0 !important;
  }
  typo3-recordlist-record-download-button{
    display: none;
  }
  .recordlist-heading{
    .btn-default{
      display: none;
    }
  }
}

.actionbar{
  display: flex;
  justify-content: flex-end;
}
table.dataTable{
  width: 100% !important;
}

.description{
  color: gray;
}
.unknown-variables, .unknown-variables a{
  color: red !important;
}

.configurationTree{
  padding: 5px;
  list-style: none;
  border: solid 1px black;
  .firstlevel{
    .btn{
      padding: 0px 20px;
    }
    &:first-child{
      border-top: 0;
    }
    border-top: solid 1px black;
    padding: 5px 0 5px 0;
    &.hasitems{

    }
    &.noitems{
      color: rgba(0, 0, 0, 0.175);
      span{
        a{
          color: rgba(0, 0, 0, 0.175);
        }
      }
    }
    ul{
      li{

        padding: 5px 0 5px 0;
      }
    }
  }
}

#collapseAutoconfigurationForm{
  background: #ebebeb;
  padding: 20px;
  .card{
    padding-bottom: 10px;
  }
}



.autoconfiguration_form_configuration{
  .autoconfiguration_form_configuration_row{
    border-bottom: solid 1px;
    display: flex;
    justify-content: space-between;
    div{
      -moz-box-flex: 1;
      flex: 1;
      width: auto;
      &.select{
        flex: 0;
        padding-right: 10px;
        width: 150px;
      }
    }
  }
}

.loadingcontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  .spinner-border{

    margin: 0 auto;
  }

  .text{
    text-align: center;
    font-size: 28px;
  }
}

.settings-configuration{
  .setting-item{
    background-color: #EBEBEB;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;

    .setting-button{
      color:white;
      padding: 6px 18px;
      border-radius: 5px;
      font-size: 14px;
      background-color: #1491AF;
    }
  }
  .settings-item-head{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    a{
      color: #4B4B4B;
      font-weight: bold;
    }
    h3{
      margin: 0;
    }
  }
  .settings-item-head-line{
    margin-bottom: 10px;
    border-bottom: solid 2px #BEBEBE;
  }
  .setting-item-row{
    a{
      font-size: 14px;
      color: #4B4B4B
    }
    .settings-block{
      background-color: #BEBEBE;
      padding: 10px;
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 5px;
      display:flex;
      justify-content: space-between;

    }

  }
}

.tutorial-tours{
  .tutorial-tour{
    justify-content: space-between;
    display: flex;
    p{
      padding-left: 5px;
      margin: 0;
    }
    padding: 10px;
    background-color: #EBEBEB;
    margin-bottom: 15px;
  }
}

.edit-icon-white{
  padding-bottom: 5px;
}

.cf-cookiemanager-alert{
  color: rgb(44, 68, 90);
  padding: 35px;
  background-color: rgb(226, 238, 249);
  border-color: rgba(197, 221, 243, 0.61);
}