@import "variables";
@import "mixins";

table.dataTable.display > tbody > tr.odd > .sorting_1, table.dataTable.order-column.stripe > tbody > tr.odd > .sorting_1 {
  box-shadow: none !important;
}

.cf-color-wrapper {
  background: $background-light;
  padding: 20px;

  @include dark-mode {
    background: $background-dark;
  }
}

.cf_manager {
  .card-header .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $text-light;

    @include dark-mode {
      color: $text-dark;
    }
  }

  .recordlist {
    margin: 0 !important;
  }

  typo3-recordlist-record-download-button {
    display: none;
  }

  .recordlist-heading {
    .btn-default {
      display: none;
    }
  }
}

.actionbar {
  display: flex;
  justify-content: flex-end;
}

table.dataTable {
  width: 100% !important;
}

.description {
  color: gray;
}

.unknown-variables, .unknown-variables a {
  color: red !important;
}

.configurationTree {
  padding: 5px;
  list-style: none;
  border: solid 1px black;

  .firstlevel {
    .btn {
      padding: 0px 20px;
    }

    &:first-child {
      border-top: 0;
    }

    border-top: solid 1px black;
    padding: 5px 0 5px 0;

    &.hasitems {}

    &.noitems {
      color: rgba(0, 0, 0, 0.175);

      span {}
    }

    ul {
      li {}
    }
  }
}

#collapseAutoconfigurationForm {
  background: $background-light;
  padding: 20px;

  @include dark-mode {
    background: $background-dark;
  }
}

.autoconfiguration_form_configuration {
  .autoconfiguration_form_configuration_row {
    border-bottom: solid 1px $border-light;
    display: flex;
    justify-content: space-between;

    @include dark-mode {
      border-bottom: solid 1px $border-dark;
    }

    div {
      -moz-box-flex: 1;
      flex: 1;
      width: auto;

      &.select {
        flex: 0;
        padding-right: 10px;
        width: 150px;
      }
    }
  }
}

.loadingcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;

  .spinner-border {
    margin: 0 auto;
  }

  .text {
    text-align: center;
    font-size: 28px;
    color: $text-light;

    @include dark-mode {
      color: $text-dark;
    }
  }
}

.settings-configuration {
  .setting-item {
    background-color: $background-light;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;

    @include dark-mode {
      background-color: $background-dark;
    }

    .setting-button {
      color: white;
      padding: 6px 18px;
      border-radius: 5px;
      font-size: 14px;
      background-color: $highlight;
      @include dark-mode {
        background-color: $highlight-dark;
      }
    }
  }

  .settings-item-head {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;

    a {
      color: $text-light;

      @include dark-mode {
        color: $text-dark;
      }
    }

    h3 {
      margin: 0;
      color: $text-light;

      @include dark-mode {
        color: $text-dark;
      }
    }
  }

  .settings-item-head-line {
    margin-bottom: 10px;
    border-bottom: solid 2px $border-light;

    @include dark-mode {
      border-bottom: solid 2px $border-dark;
    }
  }

  .setting-item-row {
    a {
      font-size: 14px;
      color: $text-light;

      @include dark-mode {
        color: $text-dark;
      }
    }

    .settings-block {
      background-color: $border-light;
      padding: 10px;
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;

      @include dark-mode {
        background-color: $border-dark;
      }
    }
  }
}

.tutorial-tours {
  .tutorial-tour {
    justify-content: space-between;
    display: flex;

    p {
      padding-left: 5px;
      margin: 0;
      color: $text-light;

      @include dark-mode {
        color: $text-dark;
      }
    }

    padding: 10px;
    border-color: $border-light;
    border-radius: 5px;
    border: solid 1px;
    margin-bottom: 15px;

    @include dark-mode {
      border-color: $border-dark;
    }
  }
}

.edit-icon-white {
  padding-bottom: 5px;
}

.cf-cookiemanager-alert {
  color: rgb(200, 200, 200);
  padding: 35px;
  background-color: $background-light;
  border-color: $border-light;

  @include dark-mode {
    background-color: $background-dark;
    border-color: $border-dark;
  }
}

.cf-tutorial-section {
  background-color: $background-light;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  color: $text-light;

  @include dark-mode {
    background-color: $background-dark;
    color: $text-dark;
  }

  h3 {
    font-weight: bold;
  }

  p {
    margin-bottom: 5px;
  }

  .cf-tutorial-notice {
    background-color: $background-light;
    border-color: $background-light;
    border-radius: 5px;
    font-weight: bold;
    color: $text-light;
    padding: 10px;
    margin-bottom: 10px;

    @include dark-mode {
      background-color: $background-dark;
      border-color: $background-dark;
      color: $text-dark;
    }
  }

  .btn-cookie-tutorial {
    background-color: #e9cd2a;
    border-color: #e9cd2a;
    border-radius: 5px;
    font-weight: bold;
    color: $text-light;
    margin-right: 10px;

    @include dark-mode {
      color: $text-dark;
      background: $background-dark;
    }
  }

  .cf-cookie-btn-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.cf-autoconfiguration-box {
  background-color: $background-light;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  color: $text-light;

  @include dark-mode {
    background-color: $background-dark;
    color: $text-dark;
  }

  label, span {
    padding-left: 0;
  }

  input {
    border: none;
  }

  .btn.btn-success {
    color: white;
    padding: 6px 18px;
    border-radius: 5px;
    font-size: 14px;
    background-color: $highlight;
    @include dark-mode {
      background-color: $highlight-dark;
    }
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
  }
}

.cf-scan-reports {
  background-color: $background-light;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  color: $text-light;
  margin-top: 20px;

  @include dark-mode {
    background-color: $background-dark;
    color: $text-dark;
  }

  .dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input {
    background: $background-light;
    border: none;

    @include dark-mode {
      background: $background-dark;
    }
  }

  h3 {
    margin-bottom: 20px;
  }

  .table > :not(caption) > * > * {
    background-color: $background-light;

    @include dark-mode {
      background-color: $background-dark;
    }
  }

  table.dataTable {
    padding-top: 20px;
  }

  .tx_cfcookiemanager.table.dataTable thead tr td {
    background-color: $background-light;
    color: $text-light;

    @include dark-mode {
      background-color: $background-dark;
      color: $text-dark;
    }
  }

  .tx_cfcookiemanager.table.dataTable tbody tr {
    padding: 10px;
    border-color: $background-light;
    background-color: $background-light;
    border-radius: 5px;
    border: solid 1px;
    margin-bottom: 15px;

    @include dark-mode {
      border-color: $background-dark;
      background-color: $background-dark;
    }

    .btn {
      color: white;
      padding: 6px 18px;
      border-radius: 5px;
      font-size: 14px;
      background-color: $highlight;
      @include dark-mode {
        background-color: $highlight-dark;
      }
      font-weight: bold;
      border: none;
      margin-bottom: 6px;
      margin-top: 6px;
      margin-right: 10px;

      &:last-child {
        background: $background-light;
        color: $text-light;
        border-color: $text-light;

        @include dark-mode {
          background: $background-dark;
          color: $text-dark;
          border-color: $text-dark;
        }
      }
    }

    .btn.btn-light {
      color: white;
      background: #0066c4;
      border-color: #0066c4;
    }
  }
}

.cf-footer {
  display: flex;
  justify-content: space-between;
  color: $text-light;

  @include dark-mode {
    color: $text-dark;
  }
}



/* Administration Changes */


#cf-api-database-update-list{
  margin-top: 20px;
}

#changes-container {
  font-family: Arial, sans-serif;
}

.cf-cookiemanager-change-section {
  margin-bottom: 20px;
  background: $background-light;
  @include dark-mode {
    background: $background-dark;
  }

}

.cf-cookiemanager-language{
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 1px;
  border-color: $text-light;
  background: $background-lighter;
  @include dark-mode {
    border-color: $text-dark;
    background: $background-darker;
  }

  .cf-cookiemanager-language-inner{
    margin-left: 20px;
  }
}


.cf-cookiemanager-change-subsection-title{
  font-size: 16px;
  font-weight: bold;
}

.cf-cookiemanager-change-subsection {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px;
  border-color: $text-light;
  @include dark-mode {
    border-color: $text-dark;
  }

  &:last-child {
    border-bottom: none;
  }

}
/*
.cf-cookiemanager-change-list {
  margin-left: 20px;
}
*/
.cf-cookiemanager-change-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: solid 1px;
  border-color: $background-lighter;
  @include dark-mode {
    border-color: $background-darker;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

}

.cf-cookiemanager-change-list-item span {
  flex-grow: 1;
}

.cf-cookiemanager-buttons {
  display: flex;
  gap: 10px;
}

.cf-cookiemanager-buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cf-cookiemanager-see-more {
  background: transparent;
  padding: 5px 5px;
  border-bottom: solid 1px white !important;
  color: white;
}

.cf-cookiemanager-ignore {
  background-color: #dc3545;
  color: white;
}

.cf-cookiemanager-update {
  background-color: #28a745;
  color: white;
}

