.cf-onboarding-container {

  .cf-onboarding-progress {
    display: flex;

    .cf-step {
      padding: 20px;
      background: $background-lighter;

      @include dark-mode {
        background: $background-dark;
      }

      &.active {
        background: $background-lighter;

        @include dark-mode {
          background: $background-darker;
        }
      }

      &.completed {
        background: $highlight;

        @include dark-mode {
          background: $highlight-dark;
        }
      }
    }
  }

  .cf-onboarding-content {
    .cf-step-content {
      padding: 20px;
      display: none;
      background: $background-lighter;
      color: $text-light;

      @include dark-mode {
        background: $background-darker;
        color: $text-dark;
      }

      &.active {
        display: block;
      }
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      /*
      .error-message {
        color: red;
        font-size: 0.8em;
        margin-top: 5px;
      }
      */
    }

    .error{
      color: red;
      border: solid 1px red !important;
    }

    .cf-consent-options {
      display: flex;
      gap: 20px;
      margin-top: 15px;

      .cf-consent-option {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background: $background-lighter;
          color: $text-light;

          @include dark-mode {
            background: $background-darker;
            color: $text-dark;
          }
        }

        input[type="radio"] {
          display: none;
        }

        .cf-icon {
          margin-right: 10px;
          font-size: 20px;

          i {
            color: #007bff;
          }
        }

        label {
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        input[type="radio"]:checked + label {
          font-weight: bold;
        }


      }


    }


    .cf-feature-table {
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1em;
      }

      th,
      td {
        padding: 0.75em;
        text-align: left;
        border-bottom: 1px solid #dee2e6;
      }

      th {
        background: $background-lighter;
        color: $text-light;

        @include dark-mode {
          background: $background-darker;
          color: $text-dark;
        }
        font-weight: bold;
      }

      tbody tr:last-child td {
        border-bottom: none;
      }

      .text-center {
        text-align: center;
      }

      .feature-description {
        display: block;
        font-size: 0.8em;
        color: $text-light;

        @include dark-mode {
          color: $text-dark;
        }
      }
    }


    .cf-tutorial-teaser {
      background: $background-lighter;
      color: $text-light;
      border-radius: 5px;
      margin-bottom: 20px;

      @include dark-mode {
        background: $background-darker;
        color: $text-dark;
      }

      h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 15px;
      }

      .cf-tutorial-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .cf-tutorial-item {
          a {
            display: block;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-decoration: none;
            color: inherit;

            &:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }

            .cf-tutorial-title {
              display: block;
              font-weight: bold;
              margin-bottom: 5px;
            }

            .cf-tutorial-description {
              display: block;
              font-size: 0.9em;
              color: #6c757d;

              @include dark-mode {
                color: #999;
              }
            }
          }
        }
      }

      .cf-final-notice {
        font-style: italic;
        text-align: center;
        color: #6c757d;

        @include dark-mode {
          color: #999;
        }
      }
    }


  }

  .cf-onboarding-actions {
    margin-top: 20px;
    text-align: right;

    button {
      margin-left: 10px;
    }
  }
}

