.startConfigurationOffline{
  margin-left: 20px;
  cursor: pointer;
}


#cf-welcome-screen{
  background: var(--typo3-surface-container-high);
  color: var(--typo3-text-color-base);
  padding: 20px;
}

.cf-onboarding-container {

  .cf-onboarding-progress {
    display: flex;
    gap: 10px;
    background: var(--typo3-surface-container-lowest);
    color: var(--typo3-text-color-base);
    padding: 5px;
    border-radius: 8px;

    .cf-step {
      display: flex;
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 1rem;
      background: var(--typo3-surface-container-lowest);
      color: var(--typo3-text-color-base);
      font-weight: bold;
      border: 1px solid var(--typo3-component-border-color);

      .cf-step-icon-notsuccess{
        margin-left: 10px;
        display: block;
      }

      .cf-step-icon-success{
        margin-left: 10px;
        display: none;
      }

      &.active {
        background: var(--typo3-surface-container-base);
        color: var(--typo3-text-color-base);
      }

      &.completed {
        background: var(--typo3-state-success-bg);
        color: var(--typo3-state-success-color);

        .cf-step-icon-notsuccess{
          display: none;
        }

        .cf-step-icon-success{
          display: block;
        }
      }
    }
  }

  .cf-onboarding-content {
    .cf-step-content {
      padding: 20px;
      margin-top: 20px;
      display: none;
      border-radius: 8px;
      background: var(--typo3-surface-container-high);
      color: var(--typo3-text-color-base);

      &.active {
        display: block;
      }

      .cf-step-header{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--typo3-component-border-color);
        padding-bottom: 10px;
        margin-bottom: 10px;
        h2{
          font-size: 1.2rem;
          margin: 0;
          span{
            font-size: 0.8rem;
          }
        }

        .cf-step-header-alert{
          padding: 5px 10px;
          border-radius: 8px;
          background: var(--typo3-surface-container-high);
          color: var(--typo3-text-color-base);
        }

      }

    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      select {
        width: 100%;
        padding: 8px;
        border: 1px solid var(--typo3-component-border-color);
        border-radius: 4px;
        box-sizing: border-box;
        background: var(--typo3-form-control-bg);
        color: var(--typo3-form-control-color);
      }
    }

    .error{
      color: var(--typo3-state-danger-color);
      border: solid 1px var(--typo3-state-danger-bg) !important;
    }

    .cf-consent-options {
      display: flex;
      gap: 20px;
      margin-top: 15px;
      margin-bottom: 15px;

      .cf-consent-option {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background: var(--typo3-state-primary-bg);
        color: var(--typo3-state-primary-color);

        &:hover {
          background: var(--typo3-state-primary-hover-bg);
          color: var(--typo3-state-primary-hover-color);
        }

        input[type="radio"] {
          display: none;
        }

        .cf-icon {
          margin-right: 10px;
          font-size: 20px;

          i {
            color: var(--typo3-text-color-primary);
          }
        }

        label {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 10px;
          margin: 0;
        }

        input[type="radio"]:checked + label {
          font-weight: bold;
          border: solid 1px var(--typo3-state-success-bg);
        }
      }
    }

    .cf-feature-table-flex {
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .cf-feature-row {
      display: flex;
      border-bottom: 1px solid var(--typo3-component-border-color);
    }

    .cf-feature-row:last-child {
      border-bottom: none;
    }

    .cf-feature-header {
      background: var(--typo3-surface-container-high);
      color: var(--typo3-text-color-base);
      padding: 10px 0;
      border-radius: 8px;
      font-weight: bold;
      border: none;
    }

    .cf-feature-cell {
      padding: 0.75em;
    }

    .cf-feature-name {
      flex: 3;
    }

    .cf-feature-api, .cf-feature-no-api {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 768px) {
      .cf-feature-row {
        flex-direction: column;
      }

      .cf-feature-api, .cf-feature-no-api {
        padding-left: 1.5em;
        justify-content: flex-start;
      }

      .cf-feature-header .cf-feature-api,
      .cf-feature-header .cf-feature-no-api {
        display: none;
      }
    }

    .cf-tutorial-teaser {
      background: var(--typo3-surface-container-base);
      color: var(--typo3-text-color-base);
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 20px;

      h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 15px;
      }

      .cf-tutorial-list {
        display: flex;
        gap: 10px;

        .cf-tutorial-item {
          border-radius: 8px;
          background: var(--typo3-surface-container-high);

          a {
            display: block;
            padding: 15px;
            border-radius: 5px;
            text-decoration: none;
            color: inherit;

            &:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }

            .cf-tutorial-title {
              display: block;
              font-weight: bold;
              margin-bottom: 5px;
            }

            .cf-tutorial-description {
              display: block;
              font-size: 0.9em;
              color: var(--typo3-text-color-secondary);
              margin-bottom: 10px;
            }
          }
        }
      }

      .cf-final-notice {
        font-style: italic;
        text-align: center;
        color: var(--typo3-text-color-secondary);
      }
    }


  }

  .cf-onboarding-actions {
    margin-top: 20px;
    text-align: right;
    display: flex;
    justify-content: space-between;

    button {
      margin-left: 10px;
    }
  }
}
