$background-light: #EBEBEB;
$background-dark: #333;
$background-lighter: #d2d2d2;
$background-darker: #606060;
$text-light: #4B4B4B;
$text-dark: #fff;
$border-light: rgba(197, 221, 243, 0.61);
$border-dark: #444;

$highlight: #9BB51C;
$highlight-dark: #3f4c00;