
<div class=" t3js-module-body">
    <div class="row">
        <div class="card-header">
            <div class="card-header-body">
                <h1 class="card-title">Extension Administration</h1>
                <span class="card-subtitle">Deep dive into Coding-Freaks CookieManager Datasets</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-xl-8">
            <div class="cf-color-wrapper">
                    <div id="loading-spinner" style="display:none;">
                        Loading update index from remote API... <typo3-backend-spinner size="small"></typo3-backend-spinner>
                    </div>
                    <button type="button" id="cf-start-update-check" data-cf-storage="{storageUID}" class="btn btn-primary">Check for Dataset API-Updates</button>
            </div>

            <div id="cf-api-database-update-list">

            </div>

        </div>
        <div class="col col-sm-12 col-md-12 col-xl-4">
            <div class="cf-tutorial-section">
                <h3> Data Administration </h3>
                <p> Check for Dataset Updates on the API and compare it with your locale changes </p>
            </div>
        </div>
    </div>
</div>