<f:variable name="llp" value="LLL:EXT:cf_cookiemanager/Resources/Private/Language/locallang_module.xlf:" />
<div class=" t3js-module-body">
    <div class="row">
        <div class="card-header">
            <div class="card-header-body">
                <h1 class="card-title"><f:translate key="{llp}admin.title" /></h1>
                <span class="card-subtitle"><f:translate key="{llp}admin.subtitle" /></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-xl-8">
            <div class="cf-color-wrapper">
                    <div id="loading-spinner" style="display:none;">
                        <f:translate key="{llp}admin.loadingUpdateIndex" /> <typo3-backend-spinner size="small"></typo3-backend-spinner>
                    </div>
                    <p><f:translate key="{llp}admin.checkPresets" /></p>
                    <button type="button" id="cf-start-update-check" data-cf-endpoint="{constantsConfiguration.end_point}" data-cf-storage="{storageUID}" class="btn btn-primary"><f:translate key="{llp}admin.checkUpdates" /></button>
            </div>

            <div id="cf-api-database-update-list">

            </div>

            <div class="cf-color-wrapper">
                <div id="loading-spinner-thumbnail-cache" style="display:none;">
                   <f:translate key="{llp}admin.checkingApi" /> <typo3-backend-spinner size="small"></typo3-backend-spinner>
                </div>
                <p><f:translate key="{llp}admin.clearThumbnailInfo" /></p>
                <button type="button" id="cf-clear-thumbnail-cache"  class="btn btn-primary"><f:translate key="{llp}admin.clearThumbnailCache" /> - {thumbnailFolderSize}</button>
            </div>

            <div class="cf-color-wrapper mt-3">
                <div id="loading-spinner-api-connect" style="display:none;">
                    <f:translate key="{llp}admin.loadingUpdateIndex" /> <typo3-backend-spinner size="small"></typo3-backend-spinner>
                </div>
                <p><f:translate key="{llp}admin.checkApiIntegrationInfo" /></p>
                <button type="button" id="loading-spinner-api" data-cf-storage="{storageUID}" class="btn btn-primary"><f:translate key="{llp}admin.checkApiIntegration" /></button>
            </div>

        </div>
        <div class="col col-sm-12 col-md-12 col-xl-4">
            <div class="cf-tutorial-section">
                <h3><f:translate key="{llp}admin.dataAdmin.heading" /></h3>
                <p>
                    <f:translate key="{llp}admin.dataAdmin.text" />
                </p>
            </div>
        </div>
    </div>
</div>