<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true"
>
<div class=" t3js-module-body">
    <div class="row">
        <div class="card-header">
            <div class="card-header-body">
                <h1 class="card-title">Category Configuration</h1>
                <span class="card-subtitle">Groups for the Cookie services</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-xl-8">
            <div class="cf-color-wrapper">
               <f:be.tableList tableName="tx_cfcookiemanager_domain_model_cookiecartegories"
                                        storagePid="{storageUID}"
                                        filter=""
                                        recordsPerPage="50"
                                        sortDescending="true"
                                        readOnly="false"
                                        enableClickMenu="true"
                                        enableControlPanels="true"
                                        clickTitleMode="edit"
                                        />

            </div>
        </div>
        <div class="col col-sm-12 col-md-12 col-xl-4">
            <div style="margin-bottom: 40px;">
                <be:link.newRecord  pid="{storageUID}" class="btn btn-default"  table="tx_cfcookiemanager_domain_model_cookiecartegories" >   Create new Category </be:link.newRecord>
            </div>
            <div class="cf-tutorial-section">
                <h3>Category Configuration</h3>
                <p>  Cookie Category are responsible for the Group management of the Settings Modal.</p>
                <div class="cf-cookie-btn-group">
                    <a class="btn btn-primary btn-cookie-tutorial" target="_blank" href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Configuration/CookieCategories/Index.html">Cookie Category Docs -></a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>