<div class=" t3js-module-body">
    <div class="row">
        <div class="card-header">
            <div class="card-header-body">
                <h1 class="card-title">Frontend Configuration</h1>
                <span class="card-subtitle">Static Text management, Display Options, Theme management and more..</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-xl-8">

            <div class="cf-color-wrapper">

                <f:be.tableList tableName="tx_cfcookiemanager_domain_model_cookiefrontend"
                                storagePid="{storageUID}"
                                levels="0"
                                filter=""
                                recordsPerPage="50"
                                sortField="sorting"
                                sortDescending="true"
                                readOnly="false"
                                enableClickMenu="true"
                                enableControlPanels="true"
                                clickTitleMode="edit"
                />

            </div>

        </div>
        <div class="col col-sm-12 col-md-12 col-xl-4">
            <div class="cf-tutorial-section">
                <h3>Frontend Settings</h3>
                <p>   Cookie frontend settings are responsible for the UI texts of the cookie box.</p>
                <div class="cf-cookie-btn-group">
                    <a class="btn btn-primary btn-cookie-tutorial" target="_blank" href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Configuration/FrontendSettings/Index.html">Frontend-Settings Docs -></a>
                </div>
            </div>
        </div>
    </div>
</div>