

<div class=" t3js-module-body">
    <div class="row">
        <div class="card-header">
            <div class="card-header-body">
                <h1 class="card-title">Home</h1>
                <span class="card-subtitle">Here you can configure your categories and the assigned services per language.</span>

                <f:if condition="{updateStatus}">
                   <h3 style="color:red;">
                       You have pending Update Wizards for this extension. <br>
                       Please complete the wizards in the Typo3-Upgrade center before using this Module.
                   </h3>
                </f:if>

                <!-- @TODO drag and drop sorting for Categories and Services by ajax -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-xl-8">


            <div class="settings-configuration">
                <f:for each="{configurationTree}" as="category">
                <div class="setting-item" id="{category.category.identifier}" data-category="{category.category.identifier}">
                    <div class="settings-item-head">
                        <div class="settings-item-head-left">
                            <h3><be:link.editRecord uid="{category.localizedUid}" table="tx_cfcookiemanager_domain_model_cookiecartegories" > {category.category.title}</be:link.editRecord></h3> Services assigned: {f:count(subject: '{category.services}')}

                            <f:for each="{category.services}" as="service">
                                <f:if condition="{service.variablesUnknown}">
                                    <br/>  <span style="color: red">Problems found!</span>

                                </f:if>
                            </f:for>

                        </div>
                        <div class="settings-item-head-right">
                            <be:link.editRecord uid="{category.localizedUid}" table="tx_cfcookiemanager_domain_model_cookiecartegories" >  <span class="setting-button">{f:if(condition: '{category.countServices}', then: 'Edit', else: 'Start configuration')}  <f:image class="edit-icon-white" title="Edit Cookie Service" width="20" src="EXT:cf_cookiemanager/Resources/Public/Images/edit-square-white.svg"/></span></be:link.editRecord>
                            <f:image title="Show Cookie Services" width="30" src="EXT:cf_cookiemanager/Resources/Public/Images/expand-more.svg"/>
                        </div>
                    </div>
                    <div class="setting-item-row" style="display: none;">
                        <f:for each="{category.services}" as="service">


                            <div class="settings-block {f:if(condition: '{f:count(subject: \'{service.variablesUnknown}\')}', then: 'unknown-variables', else: 'correct')} count-{service.variablesUnknown -> f:count()}">
                                <div class="setting-item-left">
                                    <span>
                                      <be:link.editRecord uid="{service.localizedUid}"  class="" table="tx_cfcookiemanager_domain_model_cookieservice" >     {service.name}    </be:link.editRecord>
                                        <div class="unknown-variables">
                                            {f:if(condition: '{f:count(subject: \'{service.variablesUnknown}\')}', then: '({service.variablesUnknown -> f:count()}) Unknown variables detected. <br><span style="font-size: 10px;">Please create a variable provider for the missing service variable. Access the "Scripts" tab and navigate to the "Variable Provider" category for further instructions. <a style="font-size: 10px;" target="_blank" href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Configuration/CookieServices/Index.html#variable-provider">See Docs! -></a></span> ', else: '')}
                                        </div>
                                    </span>
                                </div>
                                <div class="setting-item-right">
                                    <be:link.editRecord uid="{service.localizedUid}"  class="" table="tx_cfcookiemanager_domain_model_cookieservice" >   <f:image title="Edit Cookie Service" width="20" src="EXT:cf_cookiemanager/Resources/Public/Images/edit-square-gray.svg"/></be:link.editRecord>
                                </div>
                               <!-- <f:image title="Show Cookie Services" width="30" src="EXT:cf_cookiemanager/Resources/Public/Images/close.svg"/> -->
                            </div>

                        </f:for>
                    </div>
                </div>
                </f:for>
            </div>
        </div>
        <div class="col col-sm-12 col-md-12 col-xl-4">
                <div class="cf-tutorial-section">
                    <h3>Tutorial Section</h3>
                    <p>Let guide you through the configuration with a Live Tutorial.<br> Click on a "start" button below to start a Guided Tour.</p>
                    <!-- <p class="cf-tutorial-notice"> <strong>NOTICE: </strong><br>Tutorial Data is stored in your browsers session storage, clear it, if you have problems with this section, a page reload can help to.</p> -->
                    <div class="tutorial-tours">
                        <div class="tutorial-tour">
                            <p>Start a Tour thought the Frontend Settings.</p>
                            <button  class="btn btn-primary startTour btn-cookie-tutorial"  data-tour="FrontendTour" id="start-frontend-tour">Start Frontend Tour</button>
                        </div>
                        <div class="tutorial-tour">
                            <p>Start a Tour to assign your first cookie service to a category</p>
                            <button class="btn btn-primary startTour btn-cookie-tutorial" data-tour="CategoryTour" id="start-categories-tour">Start Tutorial</button>
                        </div>
                        <div class="tutorial-tour">
                            <p>Start a Tour to create a custom service.</p>
                            <button  class="btn btn-primary startTour btn-cookie-tutorial" data-tour="ServiceTour" id="start-service-tour">Custom Service Tutorial</button>
                        </div>
                    </div>
                </div>

                <div class="cf-tutorial-section mt-3">
                    <h3>Extension Settings</h3>
                    <p class="mb-3">Extension-Settings can be found in settings tab from the TYPO3 administration tools, notice since V1.6 some settings moved to Site-Constants</p>
                    <div class="cf-extension-setting">
                        <strong>Plugin Enabled in Frontend:</strong>
                        <span class="setting-value">
                                <f:if condition="{extensionConfiguration.disablePlugin} === '0'">
                                    <f:then>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                                    </f:then>
                                    <f:else>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                                    </f:else>
                                </f:if>
                            </span>
                    </div>
                    <div class="cf-extension-setting">
                        <strong>Consent tracking enabled:</strong>
                        <span class="setting-value">
                                <f:if condition="{extensionConfiguration.trackingEnabled} === '0'">
                                    <f:then>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                                    </f:then>
                                    <f:else>
                                         <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                                    </f:else>
                                </f:if>
                            </span>
                    </div>
                    <div class="cf-extension-setting">
                        <strong>Block unregistered iframes and Scripts:</strong>
                        <span class="setting-value">
                                <f:if condition="{extensionConfiguration.scriptBlocking} === '1'">
                                    <f:then>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                                    </f:then>
                                    <f:else>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                                    </f:else>
                                </f:if>
                            </span>
                    </div>

                    <br>
                    <div class="cf-extension-setting">
                        <strong>Cookiebanner hidden from Bots:</strong>
                        <span class="setting-value">
                                <f:if condition="{constantsConfiguration.hide_from_bots} === '1'">
                                    <f:then>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                                    </f:then>
                                    <f:else>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                                    </f:else>
                                </f:if>
                            </span>
                    </div>
                    <div class="cf-extension-setting">
                        <strong>Run consent modal on page load:</strong>
                        <span class="setting-value">
                                <f:if condition="{constantsConfiguration.autorun_consent} !== '1'">
                                    <f:then>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                                    </f:then>
                                    <f:else>
                                         <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                                    </f:else>
                                </f:if>
                            </span>
                    </div>
                    <div class="cf-extension-setting">
                        <strong>Block page navigation until user consent modal action:</strong>
                        <span class="setting-value">
                                <f:if condition="{constantsConfiguration.force_consent} !== '1'">
                                    <f:then>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                                    </f:then>
                                    <f:else>
                                         <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                                    </f:else>
                                </f:if>
                            </span>
                    </div>

                    <div class="cf-extension-setting">
                        <strong>Frontend-Consent revision version:</strong>
                        <span class="setting-value">
                                {constantsConfiguration.revision_version}
                            </span>
                    </div>

                    <div class="cf-extension-setting">
                        <strong>Thumbnail API for Iframemanager:</strong>
                        <span class="setting-value">
                                <f:if condition="{extensionConfiguration.thumbnailApiEnabled} !== '1'">
                                    <f:then>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                                    </f:then>
                                    <f:else>
                                         <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                                    </f:else>
                                </f:if>
                            </span>
                    </div>

                    <div class="cf-cookie-btn-group">
                        <a class="btn btn-primary btn-cookie-tutorial" target="_blank" href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Configuration/ExtensionSettings/Index.html">Extension Settings -></a>
                    </div>
                </div>



        </div>
        </div>
</div>