

<div class=" t3js-module-body">
    <div class="row">
        <div class="card-header">
            <div class="card-header-body">
                <h1 class="card-title">CodingFreaks Cookie Manager</h1>
                <span class="card-subtitle">Home</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-8 col-xl-8">

            <p>Here you can configure your categories and the assigned services per language.</p>

            <div class="settings-configuration">
                <f:for each="{configurationTree}" as="category">
                <div class="setting-item" id="{category.category.identifier}" data-category="{category.category.identifier}">
                    <div class="settings-item-head">
                        <div class="settings-item-head-left">
                            <h3><be:link.editRecord uid="{category.localizedUid}" table="tx_cfcookiemanager_domain_model_cookiecartegories" > {category.category.title}</be:link.editRecord></h3> Services assigned: {f:count(subject: '{category.services}')}

                            <f:for each="{category.services}" as="service">
                                <f:if condition="{service.variablesUnknown}">
                                    <br/>  <span style="color: red">Problems found!</span>

                                </f:if>
                            </f:for>

                        </div>
                        <div class="settings-item-head-right">
                            <be:link.editRecord uid="{category.localizedUid}" table="tx_cfcookiemanager_domain_model_cookiecartegories" >  <span class="setting-button">{f:if(condition: '{category.countServices}', then: 'Edit', else: 'Start configuration')}  <f:image class="edit-icon-white" title="Edit Cookie Service" width="20" src="EXT:cf_cookiemanager/Resources/Public/Images/edit-square-white.svg"/></span></be:link.editRecord>
                            <f:image title="Show Cookie Services" width="30" src="EXT:cf_cookiemanager/Resources/Public/Images/expand-more.svg"/>
                        </div>
                    </div>
                    <div class="setting-item-row" style="display: none;">
                        <f:for each="{category.services}" as="service">


                            <div class="settings-block {f:if(condition: '{f:count(subject: \'{service.variablesUnknown}\')}', then: 'unknown-variables', else: 'correct')} count-{service.variablesUnknown -> f:count()}">
                                <div class="setting-item-left">
                                    <span>
                                      <be:link.editRecord uid="{service.localizedUid}"  class="" table="tx_cfcookiemanager_domain_model_cookieservice" >     {service.name}    </be:link.editRecord>
                                        <div class="unknown-variables">
                                            {f:if(condition: '{f:count(subject: \'{service.variablesUnknown}\')}', then: '({service.variablesUnknown -> f:count()}) Unknown variables detected. <br><span style="font-size: 10px;">Please create a variable provider for the missing service variable. Access the "Scripts" tab and navigate to the "Variable Provider" category for further instructions. <a style="font-size: 10px;" target=\"_blank\" href=\"https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Configuration/CookieServices/Index.html#variable-provider\">See Docs! -></a></span> ', else: '')}
                                        </div>
                                    </span>
                                </div>
                                <div class="setting-item-right">
                                    <be:link.editRecord uid="{service.localizedUid}"  class="" table="tx_cfcookiemanager_domain_model_cookieservice" >   <f:image title="Edit Cookie Service" width="20" src="EXT:cf_cookiemanager/Resources/Public/Images/edit-square-gray.svg"/></be:link.editRecord>
                                </div>
                               <!-- <f:image title="Show Cookie Services" width="30" src="EXT:cf_cookiemanager/Resources/Public/Images/close.svg"/> -->
                            </div>

                        </f:for>
                    </div>
                </div>
                </f:for>
            </div>




        </div>
        <div class="col col-sm-12 col-md-4 col-xl-4">
                <h3>Tutorial Section (BETA)</h3>
                <p>Let guide you through the configuration with a Live Tutorial.<br> Click on a "start" button below to start a Guided Tour.</p>
                <div class="tutorial-tours">
                    <div class="tutorial-tour">
                        <p>Assign your first cookie service to a Category</p>
                        <button class="btn btn-primary" id="start-categories-tour">Start</button>

                    </div>
                    <div class="tutorial-tour">
                        <p>Create a custom service.</p>
                        <button  class="btn btn-primary" id="start-service-tour">Start</button>
                    </div>
                </div>


        </div>
        </div>
</div>