<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true"
>



<div class=" t3js-module-body">
    <div class="row">
        <div class="card-header">
            <div class="card-header-body">
                <f:variable name="llp" value="LLL:EXT:cf_cookiemanager/Resources/Private/Language/locallang_module.xlf:" />
                <h1 class="card-title"><f:translate key="{llp}services.title" /></h1>
                <span class="card-subtitle"><f:translate key="{llp}services.subtitle" /></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-xl-8">
            <div class="cf-color-wrapper">
                <f:be.tableList tableName="tx_cfcookiemanager_domain_model_cookieservice"
                                storagePid="{storageUID}"
                                levels="0"
                                filter=""
                                recordsPerPage="50"
                                sortField="name"
                                sortDescending="false"
                                readOnly="false"
                                enableClickMenu="true"
                                enableControlPanels="true"
                                clickTitleMode="edit"
                />
            </div>
        </div>
        <div class="col col-sm-12 col-md-12 col-xl-4">
            <div style="margin-bottom: 40px;">
                <be:link.newRecord pid="{storageUID}" id="createNewServiceLink" class="btn btn-default"  table="tx_cfcookiemanager_domain_model_cookieservice" >   <f:translate key="{llp}services.createNew" /> </be:link.newRecord>
            </div>
            <div class="cf-tutorial-section">
                <h3><f:translate key="{llp}services.help.heading" /></h3>
                <p><f:translate key="{llp}services.help.text" /></p>
                <div class="cf-cookie-btn-group">
                    <a class="btn btn-primary btn-cookie-tutorial" target="_blank" href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Configuration/CookieServices/Index.html"><f:translate key="{llp}services.docsButton" /></a>
                </div>
            </div>
        </div>
    </div>
</div>


</html>