<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true"
>



<div class=" t3js-module-body">
    <div class="row">
        <div class="card-header">
            <div class="card-header-body">
                <h1 class="card-title">Service Configuration</h1>
                <span class="card-subtitle">Static Scripts and Text management, Iframe embeds and more..</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-xl-8">
            <div class="cf-color-wrapper">
                <f:be.tableList tableName="tx_cfcookiemanager_domain_model_cookieservice"
                                storagePid="{storageUID}"
                                levels="0"
                                filter=""
                                recordsPerPage="50"
                                sortField="name"
                                sortDescending="false"
                                readOnly="false"
                                enableClickMenu="true"
                                enableControlPanels="true"
                                clickTitleMode="edit"
                />
            </div>
        </div>
        <div class="col col-sm-12 col-md-12 col-xl-4">
            <div style="margin-bottom: 40px;">
                <be:link.newRecord pid="{storageUID}" id="createNewServiceLink" class="btn btn-default"  table="tx_cfcookiemanager_domain_model_cookieservice" >   Create new Service </be:link.newRecord>
            </div>
            <div class="cf-tutorial-section">
                <h3>Service Configuration</h3>
                <p>Cookie services responsible for the Iframe and Script management of the website.</p>
                <div class="cf-cookie-btn-group">
                    <a class="btn btn-primary btn-cookie-tutorial" target="_blank" href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Configuration/CookieServices/Index.html">Cookie Services Docs -></a>
                </div>
            </div>
        </div>
    </div>
</div>


</html>