
<div style="margin-bottom: 40px;">
    <be:link.newRecord  class="btn btn-default"  table="tx_cfcookiemanager_domain_model_cookiecartegories" >   Create new Category </be:link.newRecord>
</div>



<table id="categories" class="tx_cfcookiemanager">
    <thead>
    <tr>
        <th>Name</th>
        <th>Services</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>

    <f:for each="{cookieCartegories}" as="cookieCartegories">
        <tr class="{f:if(condition: '{cookieCartegories.hidden}', then: 'hiddengray', else: 'visible')}">
            <td>{cookieCartegories.title}</td>
            <td>
                <f:if condition="{cookieCartegories.cookieServices -> f:count()} == 0">
                    <f:then>
                        <p style="color:red;">Missing Configuration {cookieCartegories.cookieServices -> f:count()} Services</p>
                    </f:then>
                    <f:else>
                        <p>{cookieCartegories.cookieServices -> f:count()} Services linked</p>
                    </f:else>
                </f:if>
            </td>
            <td>
                <be:link.editRecord uid="{cookieCartegories.uid}"  class="btn btn-default" table="tx_cfcookiemanager_domain_model_cookiecartegories" >Edit  {f:if(condition: '{cookieCartegories.hidden}', then: 'hidden', else: '')} record</be:link.editRecord>
            </td>
        </tr>
    </f:for>
    </tbody>
</table>

