<div class=" t3js-module-body">
    <div class="row">
        <div class="card-header">
            <div class="card-header-body">
                <h1 class="card-title">Frontend Configuration</h1>
                <span class="card-subtitle">Static Text management, Display Options, Theme management and more..</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-xl-8">
            <f:format.raw>{cookieFrontendTableHTML}</f:format.raw>
        </div>
        <div class="col col-sm-12 col-md-12 col-xl-4">
            <div class="alert alert-info">
                <div class="media">
                    <div class="media-left"><span class="fa-stack fa-lg">        <i
                            class="fa fa-circle fa-stack-2x"></i>        <i class="fa fa-info fa-stack-1x"></i>      </span>
                    </div>
                    <div class="media-body">
                        <p class="alert-message"><strong>Frontend Settings</strong><br>
                            Cookie frontend settings are responsible for the UI texts of the cookie box.<br><br>
                            For more information, please refer to the following link: <a target="_blank" href="https://docs.typo3.org/p/codingfreaks/cf-cookiemanager/main/en-us/Configuration/FrontendSettings/Index.html">Cookie Frontend Settings -></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>