

<div class=" t3js-module-body">
    <div class="row">
        <div class="card-header">
            <div class="card-header-body">
                <h1 class="card-title">CodingFreaks Cookie Manager</h1>
                <span class="card-subtitle">Home</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-xl-12">
            <div class="alert alert-info">
                <div class="media">
                    <div class="media-left"><span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x"></i></span>
                    </div>
                    <div class="media-body">
                        <p class="alert-message"><strong>Current configuration</strong></p>
                    </div>
                </div>
            </div>


            <p>Current configuration in Main language</p>
            <ul class="configurationTree">
                <f:for each="{configurationTree}" as="category">
                    <li class="firstlevel {f:if(condition: '{category.countServices}', then: 'hasitems', else: 'noitems')}">

                        <span><be:link.editRecord uid="{category.category.uid}"  class="" table="tx_cfcookiemanager_domain_model_cookiecartegories" >{category.category.title} |      {f:if(condition: '{category.countServices}', then: 'Edit', else: 'Start configuration')}</be:link.editRecord></span>

                        <f:if condition="{category.countServices}">
                            <ul>
                                <f:for each="{category.services}" as="service">
                                    <li class="{f:if(condition: '{f:count(subject: \'{service.variablesUnknown}\')}', then: 'unknown-variables', else: 'correct')} count-{service.variablesUnknown -> f:count()}"><span><be:link.editRecord uid="{service.uid}"  class="" table="tx_cfcookiemanager_domain_model_cookieservice" >{service.name} {f:if(condition: '{f:count(subject: \'{service.variablesUnknown}\')}', then: ' | Unknown Variables {service.variablesUnknown -> f:count()} ', else: '')} </be:link.editRecord></span></li>
                                </f:for>
                            </ul>
                        </f:if>
                    </li>
                </f:for>
            </ul>


        </div>
    </div>
</div>