
<div style="margin-bottom: 40px;">
    <be:link.newRecord  class="btn btn-default"  table="tx_cfcookiemanager_domain_model_cookieservice" >   Create new Service </be:link.newRecord>
</div>


<table class="tx_cfcookiemanager display">
    <thead>
    <tr>
        <th>
            <f:translate key="tx_cfcookiemanager_domain_model_cookiecartegories.title"/>
        </th>
        <th> Error</th>
        <th> Suggestion</th>
        <th> Edit  </th>
    </tr>
    </thead>
    <tbody>
    <f:for each="{cookieServices}" as="cookieService">
        <tr>
            <td>
                {cookieService.service.name}
            </td>
            <td>
                <f:for each="{cookieService.service_wrong}" as="wrongservice" key="identifier">
                    <f:if condition="{identifier} ==  {cookieService.service.identifier}">
                        <f:then>
                            <p style="color:red;">Missing Configuration Variables</p>
                        </f:then>

                    </f:if>
                </f:for>
            </td>
            <td>

                {cookieService.service.categorySuggestion}
            </td>
            <td>
                <be:link.editRecord uid="{cookieService.service.uid}"  class="btn btn-default" table="tx_cfcookiemanager_domain_model_cookieservice" >Edit</be:link.editRecord>
            </td>
        </tr>
    </f:for>
    </tbody>

</table>
