<h1>Frontend Settings</h1>
<p>
    Cookie frontend settings are responsible for the UI texts of the cookie box.<br> You can make settings here.
</p>
<hr>


<table class="tx_cfcookiemanager display">
    <thead>
        <tr>
            <th>Frontend</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
    <f:for each="{cookieFrontends}" as="cookieService">
        <tr>
            <td>
                    {cookieService.service.name}
            </td>

            <td>


                <be:link.editRecord uid="{cookieService.service.uid}"  class="btn btn-default" table="tx_cfcookiemanager_domain_model_cookiefrontend" >Edit</be:link.editRecord>


            </td>

        </tr>
    </f:for>
    </tbody>
</table>
