<h1>Frontend Settings</h1>
<p>
    Cookie frontend settings are responsible for the UI texts of the cookie box.<br> You can make settings here.
</p>
<hr>


<table class="tx_cfcookiemanager display">
    <thead>
        <tr>
            <th>Frontend</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
    <f:for each="{cookieFrontends}" as="cookieService">
        <tr>
            <td>
                    {cookieService.service.name}
            </td>

            <td>
                <a class="btn btn-default"
                   href="{cookieService.linkEdit}">
                   Edit
                </a>
            </td>

        </tr>
    </f:for>
    </tbody>
</table>
