<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_cfcookiemanager_domain_model_cookiecartegories.title" />
</label><br />
	<f:form.textfield property="title" id="title" /><br />
<label for="description">
	<f:translate key="tx_cfcookiemanager_domain_model_cookiecartegories.description" />
</label><br />
	<f:form.textfield property="description" id="description" /><br />
<label for="identifier">
	<f:translate key="tx_cfcookiemanager_domain_model_cookiecartegories.identifier" />
</label><br />
	<f:form.textfield property="identifier" id="identifier" /><br />
</html>