name: TYPO3 13 Tests

on: [ push, pull_request ]
#on:
#  push:
#    branches: [ main, develop ]
#  pull_request:
#    branches: [ main, develop ]

jobs:
  lint:
    name: PHP Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run PHP Lint
        run: Build/Scripts/runTests.sh -s lint -p 8.3

  unit:
    name: Unit Tests (PHP ${{ matrix.php }})
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        php: ['8.3', '8.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          mkdir -p .Build/.cache
          sudo chmod -R 777 .
          Build/Scripts/runTests.sh -p ${{ matrix.php }} -s composer -e "update --no-progress --no-interaction"

      - name: Run Unit Tests
        run: Build/Scripts/runTests.sh -s unit -p ${{ matrix.php }}

  functional:
    name: Functional Tests (PHP ${{ matrix.php }})
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        php: ['8.3', '8.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          mkdir -p .Build/.cache
          sudo chmod -R 777 .
          Build/Scripts/runTests.sh -p ${{ matrix.php }} -s composer -e "update --no-progress --no-interaction"

      - name: Run Functional Tests
        run: Build/Scripts/runTests.sh -s functional -p ${{ matrix.php }}

  acceptance:
    name: Acceptance Tests (PHP ${{ matrix.php }})
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        php: ['8.3', '8.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          mkdir -p .Build/.cache
          sudo chmod -R 777 .
          Build/Scripts/runTests.sh -p ${{ matrix.php }} -s composer -e "update --no-progress --no-interaction"

      - name: Run Acceptance Tests
        run: Build/Scripts/runTests.sh -s acceptance -p ${{ matrix.php }}
