name: TYPO3 14 Tests

on: [ push, pull_request ]
#on:
#  push:
#    branches: [ main, develop ]
#  pull_request:
#    branches: [ main, develop ]

jobs:
  acceptance:
    name: Acceptance Tests (PHP ${{ matrix.php }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.3', '8.4', '8.5']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install TYPO3 14 dependencies
        run: |
          mkdir -p .Build/.cache
          sudo chmod -R 777 .
          Build/Scripts/runTests.sh -p ${{ matrix.php }} -s composer -e "update --no-progress --no-interaction"
          sudo chmod -R 777 .
          Build/Scripts/runTests.sh -s acceptance -p ${{ matrix.php }} -t 14

      - name: Run Acceptance Tests
        run: Build/Scripts/runTests.sh -s acceptance -p ${{ matrix.php }} -t 14
